<!-- aaa/templates/base_modal.html -->

<div id="modal" class="modal" _="on close add .closing then wait for animationend then remove me">
    <div class="_underlay" _="on click trigger close"></div>
    <div class="modal_content">
    

        <h2>{% block modal_title %} {% endblock %}</h2>


        {% block modal_form %}



        {% endblock %}

        <div class="form_container">
                {% csrf_token %}
                {{ form }}
        </div>

        <div class="button_container_modal">
            <button id="modal_close" class="button_secondary" _="on click trigger close">Close</button>
            <input type="submit" value="Add" class="button_accent">
        </div>

  </form>

    </div>
</div>



