<!-- base.html -->

{% load static %}
{% include 'includes/header.html' %}

{% block scripts %} {% endblock %}

<title>
{% block title %} {% endblock title %}
</title>

</head>


<body>
<!-- <div id="alert_box">
{% include 'includes/message.html' %}
</div> -->



{% if messages %}
	{% for message in messages %}
		<div id="alert_box">
			<div class="message_success" role="alert" id="msg" >
				{{ message }}
			</div>
		</div>
	{% endfor %}
{% endif %}

<div id="alert_box" role="alert" class="alert_box"></div>

{% include 'includes/nav_desktop.html' %} 




<div class="body_block">

{% block content %}




{% endblock %}


</div>
{# SCRIPTS #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>


</html>