<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>STILL</title>

	<!-- add htmx to the page -->
	<script src="{% static 'js/scripts.js' %}" defer></script>
	<script src="{% static 'js/htmx.js' %}" defer></script>
	<script src="{% static 'js/scale.fix.js' %}" defer></script>
	<script src="{% static 'js/event-header.js' %}" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- medium style editor -->
	<script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
	<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>


	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
	<link rel='stylesheet' href="{% static 'css/styles.css' %}"/>
</head>







<body>


<div class="body_block">

{% block content %}






{% endblock %}
{% include 'includes/nav_desktop.html' %} 

</div>



{# SCRIPTS #}


<script src="{% static 'js/scripts.js' %}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    
	// var _current_item = $('.single_content').length
	// console.log(_current_item);
	const loadBtn = document.getElementById('loadBtn');
	const spinner = document.getElementById('spinner');
	const total = JSON.parse(document.getElementById('json-total').textContent);
	const alert = document.getElementById('alert');

	function loadmorePost() {
	    var _current_item = $('.single_content').length
	    const content_container = document.getElementById("content");
	    $.ajax({
	        url: '{% url "load" %}',
	        type: 'GET',
	        data: {
	            'offset': _current_item
	        },
	        beforeSend: function () {
	            loadBtn.classList.add('not_visible');
	            spinner.classList.remove('not_visible');
	        },
	        success: function (response) {
	            const data = response.groups
	            spinner.classList.add('not_visible')
	            data.map(group => {
	                console.log(group.name);
	                content_container.innerHTML += 
	                `<div class="single_content">
		                <h3>${group.name}</h3>
		                <h4>${group.description}</h4>
			        		</div>`
	            })
	            if (_current_item == total) {
	                alert.classList.remove('not_visible');
	            } else {
	                loadBtn.classList.remove('not_visible');
	            }
	        },
	        error: function (err) {
	            console.log(err);
	        },
	    });
	}
	loadBtn.addEventListener('click', () => {
	    loadmorePost()
	});
</script>

<script>
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}	
</script>




</body>

</html>