<!-- aaa/templates/base_modal.html -->

<div class="modal" id="modal_form" tabindex="-1" role="dialog">

  <div class="modal_dialog" role="document">



    <div class="modal_header">
        <h2>{% block modal_title %} {% endblock %}</h2>
        <div id="close_x" data-dismiss="modal">
        <img src="/media/images/icons/24x24_close.svg">
        </div>
    </div>
    



        {% block modal_form %} {% endblock %}


        <div class="form_container">
            {% csrf_token %}
            {{ form }}
        </div>


        <div class="button_container_modal">
            {% block buttons %} {% endblock %}
        </div>
    </form>


  </div>
</div>


