<!-- aaa/templates/index.html -->
{% extends 'base.html' %}

{% load my_filters %}

{% block title %}
home
{% endblock title %}

{% block content %}

<div class="top_part">
  <div class="header">
    {% if user.is_authenticated %}
    <h1>Hey
      <!-- link to all the user's posts -->
      <a href="{% url 'for_user' username=user.username %}">
      {{user.username}}</a>.
    </h1>
    {% else %}
    <h1>Hey you.</h1>
    {% endif %}
    <p class="big_p">
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>

<!-- {% include 'includes/search_home.html' %}  -->

<div>
{% for item in page_obj %}

<!-- GROUP -->

{% if item|is_app:"groups" %}

{% include 'includes/_comment.html' with delete=True %}

<!-- POST -->

{% elif item|is_app:"posts" %}

{% include 'includes/_post.html' with delete=True %}

<!-- BLOG -->

{% elif item|is_app:"blog" %}

{% include 'includes/_blog.html' %}

<!-- SHELF -->

{% elif item|is_app:"shelf" %}

{% include 'includes/_shelf.html' %}


{% endif %}

{% endfor %}


{% include 'includes/paginate.html' %}
</div>




{% endblock %}