<!-- aaa/templates/index_grid.html -->
<div class="group_container">
  <div class="group_list">
  {% for group in index_grid %}
    {% if forloop.last %}
      
      <div 
        class="card"
        hx-trigger="revealed"
        hx-get="{% url 'home' %}?page={{ page_obj.number|add:1 }}"
        hx-swap="afterend">



    {% else %}
      <div class="card">
    {% endif %}

        <a href="{% url 'groups:single' slug=group.slug %}">
          <h3 class='name'>{{ group.name | title }}</h3>
        </a>

        <div class="leave_join">
          {% if user in group.members.all %}
            Member
            <!-- [<a href="{% url 'groups:leave' slug=group.slug %}" >Leave</a>] -->
          {% else %}

            <!-- [<a href="{% url 'groups:join' slug=group.slug %}">Join Group</a>] -->
          {% endif %}
        </div>
        
        <div class="description">
        {{ group.description | safe }}
        </div>


        <div class="group_count">
          <div class="group_count_row">
            <span class="badge">{{ group.members.count }}</span>
            Member{{ group.members.count | pluralize }}
          </div>
          <div class="group_count_row">
            <span class="badge">{{ group.posts.count }}</span>
            Post{{ group.posts.count | pluralize }}
          </div>
        </div>

        <p>{{ group.price }}</p>
      </div>

  {% endfor %}
  </div>
</div>






