<!-- aaa/templates/product_list.html -->
<div class="group_container">
  <div class="group_list">
  {% for group in products %}
    {% if forloop.last %}
      
      <div 
        class="group_card"
        hx-trigger="revealed"
        hx-get="{% url 'home' %}?page={{ page_obj.number|add:1 }}"
        hx-swap="afterend">



    {% else %}
      <div class="group_card">
    {% endif %}

      <a href="#" class="group_title">
        <h3 class='group_name'>{{ group.name | title }}</h3>
      </a>

      <div class="leave_join">
        {% if user in group.members.all %}
          [<a href="{% url 'groups:leave' slug=group.slug %}" >Leave</a>]
        {% else %}
          [<a href="{% url 'groups:join' slug=group.slug %}">Join</a>]
        {% endif %}
      </div>

      <div class="group_description">
      {{ group.description_html | safe }}
      </div>


      <div class="group_count">
        <div class="group_count_row">
          <span class="badge">{{ group.members.count }}</span>
          Member{{ group.members.count | pluralize }}
        </div>
        <div class="group_count_row">
          <span class="badge">{{ group.posts.count }}</span>
          Post{{ group.posts.count | pluralize }}
        </div>
      </div>

        <p>{{ group.price }}</p>
      </div>

  {% endfor %}
  </div>
</div>





<!-- aaa/templates/product_list.html -->
<!-- <div class="grid_container">
{% for post in products %}
  {% if forloop.last %}
    
    <div 
      class="grid_after"
      hx-trigger="revealed"
      hx-get="{% url 'home' %}?page={{ page_obj.number|add:1 }}"
      hx-swap="afterend">



  {% else %}
    <div class="grid_info">
  {% endif %}
      <h2>{{ post.name }}</h2>
      <p>{{ post.description }}</p>
      <p>{{ post.price }}</p>
    </div>

{% endfor %}


</div> -->