<!-- aaa/templates/chirps/posts.html -->
{% extends "base.html" %}
{% load static %}


{% block scripts %} 
<script src="{% static 'js/chirps.js' %}" defer></script>
{% endblock %}

{% block title %}
posts
{% endblock title %}


{% block content %}


  <div class="top_part">

    <div class="header"> 
      {% if user.is_authenticated %}
      <h1>Hey
        <!-- link to all the user's posts -->
        <a href="{% url 'profiles:for_user' username=user.username %}">
        {{user.username}}</a><br>
          These are chirps<br>

        <a data-toggle="modal" data-target="#modal_form">
        Create one
        </a>

      </h1>
    </div>

  {% else %}

    <div class="header">
      <h1>Hey.<br>
          These are posts<br>
      </h1>
    </div>
    
  {% endif %}

  </div>

  <div>


  <div id="chirp_content">
  {% for item in post_list %}
  {% include 'includes/_chirp.html' with post_url=True delete=False group=True details=True like=True %}
  {% endfor %}
  </div>




  {% include 'chirps/modal.html' %}


{% endblock %}










