<!-- aaa/groups/templates/groups/groups.html -->
{% extends "groups/group_base.html" %}


{% block pre_group %}


<div class="top_part">

	<div class="header">
		{% if user.is_authenticated %}
		<h1>Hey
			<!-- link to all the user's posts -->
			<a href="{% url 'posts:for_user' username=user.username %}">
			{{user.username}}</a>.<br>
				These are groups.<br>
			<a hx-get="{% url 'groups:add' %}" hx-target="body" hx-swap="beforeend">
			Create one
			</a>
		</h1>
	</div>

{% else %}

	<div class="header">
		<h1>Hey.<br>
				These are groups.<br>
		</h1>
	</div>
	
{% endif %}

</div>

{% endblock %}





{% block group_content %}

  <div>
		{% include 'groups/group_list.html' %}
  </div>
  
{% endblock %}


{% block post_group %}
{% endblock %}