<!-- aaa/groups/templates/groups/_gruoop_comments.html -->


<div class="post">
	<div class="post_message" style="display:inline-flex;">
	<h3>{{ comment.text | safe }}</h3>
      {% if user.is_superuser %}
      <a href="{% url 'groups:commentdelete' pk=comment.pk %}">
        <div class="button_xsmall">
        remove
        </div>
      </a>
      {% else %}
      {% endif %}
  </div>
  <br>
	<span class="username">
		<a href="{% url 'posts:for_user' username=comment.author %}">
		@{{ comment.author }}
	</a>
		<time class="time">{{ comment.created_at }}</time>
	</span>
<!-- 	in 						
	<a href="">
		{{ comment.group.name }}
	</a> -->

</div>