<!-- aaa/groups/templates/groups/groups.html -->
{% extends "base.html" %}



{% block content %}


<div class="top_part">

	<div class="header">
		{% if user.is_authenticated %}
		<h1>Hey
			<!-- link to all the user's posts -->
			<a href="{% url 'posts:for_user' username=user.username %}">
			{{user.username}}</a>.<br>
				These are groups.<br>
			{% if user.is_superuser %}
			<a hx-get="{% url 'groups:add' %}" hx-target="body" hx-swap="beforeend" id="modal_trigger">
			Create one
			</a>
			{% else %}
			{% endif %}
		</h1>
	</div>

{% else %}

	<div class="header">
		<h1>Hey.<br>
				These are groups.<br>
		</h1>
	</div>
	
{% endif %}

</div>




  <div>
		{% include 'groups/group_list.html' %}
  </div>
  




{% endblock %}