<!-- aaa/groups/templates/groups/_gruop_comments.html -->


<div {% if color %} class="post2" {% else %} class="post" {% endif %} id="post_list">

	<div class="post_message_group">
		<div>
			<div class="post_message">
				<h3>{{ post.message | safe }}</h3>
				{% if delete %}
			      {% if user.is_superuser or post.user == user and not hide_delete %}
			      <a href="{% url 'groups:commentdelete' pk=post.pk %}">
			        <div class="modal_button_xsmall">
			        remove
			        </div>
			      </a>
			      {% else %}
			      {% endif %}
		  	{% endif %}
		  	</div>
		  <br>
			<span class="username">
				{% if author %}
					<a href="{% url 'for_user' username=post.user %}">@{{ post.user }}</a>
				{% endif %}
				<time class="time">{{ post.created_at }}</time>
			</span>
			{% if group.name %}						
				in <a href="">{{ post.group.name }}</a>
			{% endif %}
		</div>
	</div>
	
</div>