<!-- aaa/groups/templates/groups/groups_detail.html -->
{% extends "groups/base.html" %}
{% load my_filters %}
{% load humanize %}


{% block pre_group %}


<div class="top_part">
	<div class="header">
		<h2>{{ group.name }}</h2>

		<div class="group_description">
			{% if group.description %}
			<h3>{{group.description}}</h3>
			{% else %}
			<h3>No description yet.</h3>
			{% endif %}
		</div>

      <div class="group_count">
        <div class="group_count_row">
					Member{{ group.members.count | pluralize }}:<span class="badge">{{ group.members.count }}</span>
        </div>
        <div class="group_count_row">
          Post{{ group.posts.count | pluralize }}:<span class="badge">{{ group.posts.count }}</span>
        </div>
        <div class="group_count_row">
          Comment{{ comment.count | pluralize }}:<span class="badge">{{ comment.count }}</span>
        </div>
      </div>

	</div>
</div>


{% if user.is_superuser %}

	<div class="button_container">
		<a href="{% url 'groups:all' %}"><div class="button_accent">
			View All Groups
		</div></a>
		{% if user in group.members.all %}
		<a href="{% url 'groups:leave' slug=group.slug %}" ><div class="button_secondary">
			Leave
		</div></a>
			{% else %}
		<a href="{% url 'groups:join' slug=group.slug %}"><div class="button_action">
			Join
		</div></a>
		{% endif %}
		{% if user.is_superuser %}
		<a href="{% url 'groups:delete' slug=group.slug %}"><div class="button_secondary">
			Remove Group
		</div></a>
		{% else %}
		{% endif %}
	</div>
{% else %}
	<div class="button_container">
		<a href="{% url 'groups:all' %}"><div class="button_accent">
			View All Groups
		</div></a>
		{% if user in group.members.all %}
		<a href="{% url 'groups:leave' slug=group.slug %}" ><div class="button_secondary">
			Leave
		</div></a>
			{% else %}
		<a href="{% url 'groups:join' slug=group.slug %}"><div class="button_action">
			Join
		</div></a>
		{% endif %}
	</div>
{% endif %}



{% endblock %}


{% block group_content %}

<div class="group_detail_lists">
		<h3 class="h3"><a href="{% url 'posts:all' %}">Posts</a></h3>
		{% for item in group.posts.all %}
			
			{% include 'includes/_post.html' with delete=False group=False details=True %}

  	{% empty %}
  		<h3>Nobody has posted yet.</h3>
		{% endfor %}


</div>

<div class="group_detail_lists">
		<h3 class="h3">Comments</h3>
		{% for item in comment  %}

	
		<div class="post2" id="post_list">
	    <div>
	    <!-- TITLE/MESSAGE -->
	      <div class="post_message_group">
	        <div class="button_group">
	          <div class="post_message">
	             <h3>{{ item.message | safe }}</h3>
	          </div>
	          <!-- DELETE BUTTON -->
	            {% if user.is_superuser or item.user == user and not hide_delete %}
	            <a href="{% url 'groups:commentdelete' pk=item.pk %}">
	              <div class="modal_button_xsmall">remove</div>
	            </a>
	            {% endif %}
	        </div>
	        <!-- USER/URL/TIMESTAMP -->        
	        <span class="username">
	          {% if user %}
	            <a href="{% url 'for_user' username=item.user.username %}">
	            @{{ item.user.username }}
	            </a>
	          {% endif %}
	            commented
	          {{ item.created_at|naturaltime }}
	        </span>
	      </div>

	    </div>
	  </div>


  	{% empty %}
  		<h3>Nobody has commented yet.</h3>
		{% endfor %}
</div>



{% if user in group.members.all %}
<div class="docked_container">
	<div class="search_bar">
		<form method="post">
			{% csrf_token %}
		    {{ form }}
		    <input type="submit" value="Add" class="button_small">
		</form>
	</div>
</div>
{% else %}
{% endif %}

{% if user in group.members.all %}
<!-- 
<div class="button_container">
	<a href="{% url 'groups:single' slug=group.slug %}">
		<div class="button_secondary">
			Add post
		</div>
	</a>

</div> -->







<!-- 	<div id="postform">
		{% include "groups/group_post_form_button.html" %}
	</div> -->
{% else %}
{% endif %}



{% for item in group.posts.all %}
	{% include 'posts/modal.html' %}
	{% include 'posts/modal_delete.html' %}
{% endfor %}





{% endblock %}




