<!-- aaa/groups/templates/groups/groups_detail.html -->
{% extends "groups/group_base.html" %}

{% block pre_group %}


<div class="top_part">
	<div class="header">
		<h2>{{ group.name }}</h2>

		<div class="group_description">
			{% if group.description %}
			<h3>{{group.description}}</h3>
			{% else %}
			<h3>No description yet.</h3>
			{% endif %}
		</div>

      <div class="group_count">
        <div class="group_count_row">
          <span class="badge">{{ group.members.count }}</span>
          Member{{ group.members.count | pluralize }}
        </div>
        <div class="group_count_row">
          <span class="badge">{{ group.posts.count }}</span>
          Post{{ group.posts.count | pluralize }}
        </div>
      </div>

	</div>
</div>


{% if user.is_superuser %}

	<div class="button_container">
		<a href="{% url 'groups:all' %}"><div class="button_accent">
			All Groups
		</div></a>
		{% if user in group.members.all %}
		<a href="{% url 'groups:leave' slug=group.slug %}" ><div class="button_secondary">
			Leave
		</div></a>
			{% else %}
		<a href="{% url 'groups:join' slug=group.slug %}"><div class="button_action">
			Join
		</div></a>
		{% endif %}
		{% if user.is_superuser %}
		<a href="{% url 'groups:delete' slug=group.slug %}"><div class="button_secondary">
			Remove Group
		</div></a>
		{% else %}
		{% endif %}
	</div>
{% else %}
	<div class="button_container">
		{% if user in group.members.all %}
		<a href="{% url 'groups:leave' slug=group.slug %}" ><div class="button_secondary">
			Leave
		</div></a>
			{% else %}
		<a href="{% url 'groups:join' slug=group.slug %}"><div class="button_action">
			Join
		</div></a>
		{% endif %}
		<a href="{% url 'groups:all' %}"><div class="button_accent">
			Back to Groups
		</div></a>
	</div>
{% endif %}



{% endblock %}


{% block group_content %}

<div class="group_detail_lists">
		<h3 class="h3">Posts</h3>
		{% for item in group.posts.all %}

			{% include 'includes/_post.html' with delete=True %}

  	{% empty %}
  		<h3>Nobody has posted yet.</h3>
		{% endfor %}
</div>



<div class="group_detail_lists">
		<h3 class="h3">Comments</h3>
		{% for item in comment  %}

			{% include 'includes/_comment.html' with delete=True %}

  	{% empty %}
  		<h3>Nobody has commented yet.</h3>
		{% endfor %}
</div>



{% if user in group.members.all %}
<div class="docked_container">
	<div class="search_bar">
		<form method="post">
			{% csrf_token %}
		    {{ form }}
		    <input type="submit" value="Add" class="button_small">
		</form>
	</div>
</div>
{% else %}
{% endif %}

{% if user in group.members.all %}
<!-- 
<div class="button_container">
	<a href="{% url 'groups:single' slug=group.slug %}">
		<div class="button_secondary">
			Add post
		</div>
	</a>

</div> -->







<!-- 	<div id="postform">
		{% include "groups/group_post_form_button.html" %}
	</div> -->
{% else %}
{% endif %}





{% endblock %}




