<!-- aaa/groups/templates/groups/group_comment.html -->
{% extends "groups/group_base.html" %}

{% block group_content %}

<div class="forms">

  <div class="top_part">
    <h1>  
      Add Comment
    </h1>
  </div>

  <form method="POST" class="post-form">
    {{form}}
    {% csrf_token %}


  <div class="button_container_modal">
    <a onClick="javascript:history.go(-1);"><div class="cancel">Cancel</div></a>
    <input type="submit" class="btn" value="Submit">
  </div>


  </form>
</div>



{% endblock %}

