<!-- aaa/groups/templates/groups/group_list.html -->
<div class="group_container">
  <div class="group_list">
  {% for group in grouplist %}
    {% if forloop.last %}
      
      <div 
        class="group_card"
        hx-trigger="revealed"
        hx-get="{% url 'groups:grouplist' %}?page={{ page_obj.number|add:1 }}"
        hx-swap="afterend">



    {% else %}
      <div class="group_card">
    {% endif %}

      <a href="{% url 'groups:single' slug=group.slug %}" class="group_title">
        <h3 class='group_name'>{{ group.name | title }}</h3>
      </a>

      <div class="leave_join">
        {% if user in group.members.all %}
          Member
          <!-- [<a href="{% url 'groups:leave' slug=group.slug %}" >Leave</a>] -->
        {% else %}

          <!-- [<a href="{% url 'groups:join' slug=group.slug %}">Join Group</a>] -->
        {% endif %}
      </div>


      <div class="group_card_bottom">

        <div class="group_description">
        {{ group.description_html | safe }}
        </div>

        <div class="group_count">
          <div class="group_count_row">
            Member{{ group.members.count | pluralize }}:
            <span class="badge">{{ group.members.count }}</span>
          </div>
          <div class="group_count_row">
              Post{{ group.posts.count | pluralize }}:
            <span class="badge">{{ group.posts.count }}</span>
          </div>
        </div>

      </div>


      </div>

  {% endfor %}
  </div>
</div>
