<!-- aaa/groups/templates/groups/groups_detail.html -->
{% extends "groups/group_base.html" %}
{% block pre_group %}

<div class="top_part">
	<div class="header">
		<h1>{{group.name}}</h1>
		<div class="group_description">
			{% if group.description %}
			<h3>{{group.description}}</h3>
			{% else %}
			<h3>No description yet.</h3>
			{% endif %}
		</div>

      <div class="group_count">
        <div class="group_count_row">
          <span class="badge">{{ group.members.count }}</span>
          Member{{ group.members.count | pluralize }}
        </div>
        <div class="group_count_row">
          <span class="badge">{{ group.posts.count }}</span>
          Post{{ group.posts.count | pluralize }}
        </div>
      </div>

	</div>
</div>


<div class="button_container">
	{% if user in group.members.all %}

	<a href="{% url 'groups:leave' slug=group.slug %}" ><div class="button_secondary">
		Leave
	</div></a>

		{% else %}
	<a href="{% url 'groups:join' slug=group.slug %}"><div class="button_action" href="{% url 'groups:join' slug=group.slug %}">
		Join
	</div></a>
	{% endif %}
	<a href="{% url 'groups:all' %}"><div class="button_accent">
		Back to Groups
	</div></a>
</div>



{% endblock %}


{% block group_content %}

<div>
	
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>

	{% else %}

		{% for post in group.posts.all %}
			{% include "posts/_post_group.html" %}
		{% endfor %}

	{% endif %}
</div>
{% endblock %}
