<!-- aaa/groups/templates/groups/group_form.html -->
{% extends "groups/group_base.html" %}
{% load bootstrap5 %}

{% block group_content %}

<h1>Add Group</h1>

<form method="POST" action="{% url 'groups:create' %}" id="groupForm">

	<div class="form_container">
	{% csrf_token %}
	{{ bootstrap_form form }}
	</div>

	<div class="button_container_modal">
	<a href="{% url 'groups:all' %}">
		<div class="button_secondary">
			Back to Groups
		</div>
	</a>
		<input type="submit" value="Create" class="button">
	</div>

</form>
{% endblock %}
