<!-- aaa/groups/templates/groups/groups.html -->
{% extends "base.html" %}
{% load static %}

{% block scripts %} 
<script src="{% static 'js/groups.js' %}" defer></script>
{% endblock %}

{% block title %}
groups
{% endblock title %}

{% block content %}




<div class="top_part">

	<div class="header">
		{% if user.is_authenticated %}
		<h1>Hey
			<!-- link to all the user's posts -->
			<a href="{% url 'for_user' username=user.username %}">
			{{user.username}}</a><br>
				These are groups<br>
			{% if user.is_superuser %}
			<a data-toggle="modal" data-target="#modal_form">
			Create one
			</a>
			{% else %}
			{% endif %}
		</h1>
	</div>

{% else %}

	<div class="header">
		<h1>Hey.<br>
				These are groups.<br>
		</h1>
	</div>
	
{% endif %}

</div>


<div id="group_container">
  <div id="group_list">



    <div id="loader_container">
      <div id="loader"></div>
    </div>

  </div>
</div>


  
<div id="endbox" class="not_visible">
  <div class="button_secondary" id="load_button">
    Load More
  </div>
</div>

<div class='button_secondary' id="nomore">
</div>

  

{% include 'groups/modal.html' %}





{% endblock %}