<!-- aaa/accounts/templates/accounts/signup.html -->
{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block content %}


<div class="acct_content">
	<div class="top_part">
		{% if user.is_authenticated %}
		<div class="header">
			<h1>You've already joined</h1>
		</div>
		{% else %}
		<div class="header">
			<h1>Sign Up</h1>
		</div>
	</div>

	<div class="forms">
		<form method="POST" enctype="multipart/form-data">
			{{user_form}}
			{{prof_form}}
			{% csrf_token %}
			<div class="button_container">
			<input type="submit" class="button_accent_large" value="Sign Up">
			</div>
		</form>
	{% endif %}
	</div>
</div>
{% endblock %}
