<!-- aaa/posts/templates/posts/posts/_post.html -->

<div class="post">
	<h3>
		{{ post.message_html | safe }}
	</h3>

	<div>

		<span class="username">
			<strong>
				<a href="{% url 'posts:for_user' username=post.user.username %}">
					@{{ post.user.username }}
				</a>
			</strong>
			<time class="time">
				<a href="{% url 'posts:single' username=post.user.username pk=post.pk %}" class="timestamp" >
				{{ post.created_at }}
				</a>
			</time>
			{% if post.group %}
			<span>
				in <a href="#" class="group_title">
					{{ group.name }}
				</a>
			</span>
			{% endif %}
		</span>


		<div>
			{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="">
					<span class="" aria-hidden="true">
					</span>
					<span class="">
						Delete
					</span>
				</a>
			{% endif %}
		</div>

	</div>

</div>
