<!-- aaa/posts/templates/posts/posts/_post.html -->

<div class="post media">
	<h3>
		<a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
		{{ post.message_html | safe }}
		</a>
	</h3>

	<div class="media-body">

		<span class="username">
			<strong>
			<a href="{% url 'posts:for_user' username=post.user.username %}">
				@{{ post.user.username }}
			</a>
			</strong>
			<time class="time">
			{{ post.created_at }}
			</time>
			<span class="group-name">in <a href="#">
			{{group.name}}
			</a></span>
		</span>
	</div>

</div>
