<!-- aaa/posts/templates/posts/post_detail.html -->
{% extends 'base.html' %}

{% block content %}

{% load my_filters %}
{% load humanize %}


{% if modal %}
<div class="post_modal" id="post_list">
{% else %}
<div {% if item|is_app:"posts" %} class="post3" {% endif %} id="post_list">
{% endif %}


      <div class="post_message_group">

        <div class="button_group">
          <!-- TITLE/MESSAGE -->
          <div class="post_message">
            <a href="{{ item.group.get_absolute_url }}">
              <h3 id="message">{{ item.message | safe }}</h3>
            </a>
          </div>
          <!-- DELETE BUTTON -->
            {% if user.is_superuser or item.user == user and not hide_delete %}
              {% if delete %}
              <button class="modal_button_xsmall" id="delete_button" data-toggle="modal" data-target="#delete_modal">remove</button>
              {% else %}
              {% endif %}
            {% endif %}
          <!-- DELETE BUTTON -->
              {% if details %}
              <button href="{{ item.get_absolute_url }}" class="modal_button_xsmall" id="detail_button">Details</button>
              {% else %}
              {% endif %}
        </div>
        <!-- USER/URL/TIMESTAMP -->        
        <span class="username">
          {% if user %}
            <a href="{% url 'for_user' username=item.user.username %}">
            @{{ item.user.username }}
            </a>
          {% endif %}
          posted 
          <!-- GROUP -->    
          {% if group %} in 
            <span class="group_name">
              <a href="{{ item.group.get_absolute_url }}">
              {{ item.group.name }}
              </a>
            </span>
          {% endif %}
          {{ item.created_at|naturaltime }}
        </span>
        

      </div>





  </div>



{% endblock %}