<!-- aaa/templates/posts/posts.html -->
{% extends "posts/base.html" %}
{% load static %}
{% load my_filters %}
{% load humanize %}


{% block scripts %} 
<script src="{% static 'js/detail.js' %}" defer></script>
{% endblock %}

{% block title %}
posts
{% endblock title %}


{% block content %}

  <div class="post_modal" id="post_list">

  <div class="post_message_group">

    <div class="button_group">
      <!-- TITLE/MESSAGE -->
      <div class="post_message">
          <h2 id="message">{{ item.message | safe }}</h2>
      </div>
      <!-- DELETE BUTTON -->
        {% if user.is_superuser or item.user == user and not hide_delete %}
          {% if delete %}
          <button class="modal_button_xsmall" id="delete_button" data-toggle="modal" data-target="#delete_modal">remove</button>
          {% else %}
          {% endif %}
        {% endif %}
    </div>
    <!-- USER/URL/TIMESTAMP -->        
    <span class="username_detail">
        <a href="{% url 'for_user' username=item.user.username %}">
        {{ item.user.username }}
        </a>
      posted 
      <!-- GROUP -->    
       in 
        <a href="{{ item.group.get_absolute_url }}">
        {{ item.group.name }}
        </a>
      {{ item.created_at|naturaltime }}
    </span>
    

  </div>




  </div>

{% if user.is_authenticated %}
  {% if user.is_superuser %}
  <!-- EDIT / ROMOVE  -->
    <div class="button_container">
      <button class="button_accent" id="back_button">Back</button>
      <button class="button_secondary">Edit</button>
      <button class="button_secondary" id="delete_button" data-toggle="modal" data-target="#delete_modal" style="background-color:red; color:white">Delete</button>
    </div>
  {% else %}
    <div class="button_container">
      <button class="button_accent" id="back_button">Back</button>
    </div>
  {% endif %}
{% endif %}


{% include 'posts/modal_delete.html' %}
{% include 'posts/modal.html' %}


{% include 'includes/message.html' %}

{% endblock %}