<!-- aaa/templates/posts/post_list.html -->
{% extends "base.html" %}



{% block content %}

<div class="top_part">
  <div class="header">
    
    {% if user.is_authenticated %}
    <h1>Hey
      <!-- link to all the user's posts -->
      <a href="{% url 'for_user' username=user.username %}">
      {{user.username}}</a>.<br>
      These are posts.<br>
          <a href="#" id="open_modal">
          Create one
          </a>
    </h1>

    {% else %}
    <h1>
      Hey you.<br>
      These are posts
    </h1>
    
    {% endif %}

  </div>
</div>


  <div>

{% if request.user.is_authenticated %}


{% endif %}



<div class="content">
  <h1>All Activity</h1>
{% for item in post_list %}

{% include 'includes/_post.html' with delete=True %}

{% endfor %}
</div>



<script>
  const confirmModal = new modal_1 ({
    titleText: 'Are you sure?',
    messageText: 'This action is permenant',
    confirmText: 'Yes',
    cancelText: 'Cancel',
    button_secondary: 'Close',
    button_accent: 'Add',
  })

  console.log(confirmModal);

  const element = document.getElementById('open_modal');
  if (element) {
      element.addEventListener('click', () => {
    console.log('open modal clicked');

    confirmModal
      .open()
      .then(value => 
      console.log('User clicked confirm: ', value)
      )
      .catch(value =>
      console.log('User clicked cancel: ', value)
      );

    // further actions
  });
  }
</script>

{% endblock %}










