<!-- aaa/posts/templates/posts/posts/_post.html -->
{% load my_filters %}


<div class="post" id="post_list">

	<div>

	    <div class="post_message">
		<h3>{{ post.message | safe }}</h3>
	    </div>

		<span class="username">

			{% if user %}
				<a href="{% url 'for_user' username=post.user.username %}">
				@{{ post.user.username }}
				</a>
			{% endif %}

			<time class="time">{{ post.created_at }}</time>
			{% if group %}
		        {% if post.group %}
			        <span class="group_name">in 
			        	<a href="{{ post.group.get_absolute_url }}">
						{{post.group.name}}
			    		</a>
			        </span>
		        {% endif %}
		    {% endif %}

		</span>
			
	</div>

</div>