<!-- aaa/posts/templates/posts/posts/post_confirm_delete.html -->
{% extends "base.html" %}
{% load bootstrap5 %}


{% block content %}
<div id="modal" _="on closeModal add .closing then wait for animationend then remove me" HX-Refresh="True">
    <div class="modal_underlay" _="on click trigger closeModal"></div>

    <div class="modal_content">

  		<h2>Seriously, delete this?</h2>

		<div class="posts_confirm">
			{% include "posts/_post.html" with hide_delete=True %}
		</div>

	<!-- <form method="post" hx-post="{% url 'posts:delete' pk=post.pk %}"> -->
	<form action="{% url 'posts:delete' pk=post.pk %}" method="post" HX-Refresh="True">
	        <div class="button_container_modal">
						{% csrf_token %}

				<a _="on click trigger closeModal"><div class="button_secondary" id="modal_close">Cancel</div></a>
				<input type="hidden" name="redirect_url" value="{{ request.META.HTTP_REFERER }}">
				<input type="submit" value="Confirm" class="button_danger" _="on click trigger closeModal">
	        </div>
	  	</form>

    </div
</div>

{% endblock %}