<!-- aaa/templates/posts/post_list.html -->
{% extends 'posts/post_base.html' %}

{% block pre_post %}

<div class="top_part">
  <div class="header">
    
    {% if user.is_authenticated %}
    <h1>Hey
      <!-- link to all the user's posts -->
      <a href="{% url 'posts:for_user' username=user.username %}">
      {{user.username}}</a>.<br>
      These are posts.<br>
          <a class="h1_link" hx-get="{% url 'posts:add' %}" hx-target="body" hx-swap="beforeend">
          Create one
          </a>
    </h1>

    {% else %}
    <h1>
      Hey you.<br>
      These are posts
    </h1>
    
    {% endif %}

  </div>
</div>

{% endblock %}

{% block post_content %}
  <div>

{% if request.user.is_authenticated %}


{% endif %}

<div class="content">
  <h1>All Activity</h1>
  <ul>
    <!-- for groups that you are a member of, list them -->
    {% for other_group in get_other_groups %}
      <li>
        <a href="{% url 'groups:single' slug=other_group.group.slug %}"></a>
      </li>
    {% endfor %}
  </ul>
</div>



<div>
{% for post in post_list %}

<div class="post">


  <h3>
    <a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">
    {{ post.message_html | safe }}
    </a>
  </h3>

  <span class="username">
    <a href="{% url 'posts:for_user' username=post.user.username %}">
    @{{ post.user.username }}</a>
    <time class="time">{{ post.created_at }}</time>
    {% if post.group %}
    <span class="group-name">in <a href="#">{{post.group.name}}</a></span>
    {% endif %}
  </span>


</div>


{% endfor %}
</div>
{% endblock %}
