<!-- aaa/posts/templates/posts/posts/post_confirm_delete.html -->
{% extends "posts/post_base.html" %}




{% block post_content %}

  <h2>Seriously, delete this?</h2>

	<div class="posts_confirm">
		{% include "posts/_post.html" with post=object hide_delete=True %}
	</div>


	<div class="button_container">
		<form method="POST">
			{% csrf_token %}
			<input type="submit" value="Confirm" class="button_danger">

				<a href="{% url 'posts:all' %}"><div class="button_secondary">
					Cancel
				</div></a>
		</form>
	</div>

{% endblock %}
