{% extends "shelf/shelf_base.html" %}

{% block pre_shelf %}
<div class="top_part">
  <div class="header">
  {% if user.is_superuser %}
  <h1>Shelves: organize stuff.</h1>
  <h2><a hx-get="{% url 'shelf:add' %}" hx-target="body" hx-swap="beforeend">Add an item to your shelf.</a></h2>

  {% else %}
  <h1>Shelves</h1>
  {% endif %}
    <p class="big_p">
    Cupcake ipsum dolor sit amet marzipan chocolate cake icing donut. Sugar plum wafer jelly-o oat cake tootsie roll. Powder cake croissant soufflé icing chocolate shortbread I love. Caramels marshmallow candy canes dessert powder croissant chocolate. Gummi bears cotton candy sweet roll croissant sweet roll croissant I love. Brownie danish jujubes I love sugar plum powder liquorice. Tiramisu tart biscuit pastry topping pudding. Candy pastry pastry I love I love cotton candy liquorice bonbon bear claw.
    </p>
  </div>
</div>


{% endblock %}

{% block shelf_content %}
{% if user.is_authenticated %}

<div>



	<table class="shelf_grid">
		<thead class="col_header_header">
			<th class="col_header">Year</th>
			<th class="col_header">Title</th>
			<th class="col_header">Author</th>
			<th class="col_header">Tags</th>
			<th class="col_header">User</th>
			<th class="col_header">Image</th>
		</thead>


    <form method="GET">
      <label for="sort_by">Sort by:</label>
      <select name="sort_by" id="sort_by" onchange="this.form.submit()">
        <option value="title">Title</option>
        <option value="-title">Title (Descending)</option>
        <option value="author">Author</option>
        <option value="-author">Author (Descending)</option>
      </select>
      <noscript><input type="submit" value="Submit"></noscript>
    </form>
		{% for shelf in object_list %}

		<tr>

			{% if shelf.year == 0 %}
			<td>––</td>
			{% else %}
			<td>{{ shelf.year }}</td>
			{% endif %}

			<td><a href="shelf/{{ shelf.id }}">{{ shelf.title }}</a></td>


			{% if shelf.author == 'N/A' %}
			<td>––</td>
			{% else %}
			<td>{{ shelf.author }}</td>
			{% endif %}

			{% if shelf.tags.all %}
				<td>{% for tags in shelf.tags.all %}
				<tag class="taggy">{{ tags }}</tag>
				{% endfor %}
			</td>
			{% else %}
			<td>––</td>
			{% endif %}

			<td>{{ shelf.user }}</td>

			<td>
				<div class=cover_crop>
					{% if shelf.image %}
					<img class="cover_photo" src="/media/{{ shelf.image }}">
					{% else %}
					<img class="photo_blank" src="/media/shelves/blank.jpg">
					{% endif %}
				</div>
			</td>

			</tr>

		{% endfor %}


		</table>




</div>


{% include 'includes/paginate.html' %} 




{% endif %}


{% endblock %}