{% extends "shelf/shelf_base.html" %}
{% block body_block %}



	{% block content %}

	<div>

	
<!-- 	{% if shelfdetail.image %}
	<div class="shelf_background_image" style="background-image: url( /media/{{ shelfdetail.image }});"></div>
	{% else %}
	<div class="shelf_background_image" style="background-image: url( /media/covers/blank.jpg);"></div>
	{% endif %} -->

	<div class="shelf_top_detail">	
		<div class=crop_detail>
			{% if shelfdetail.image %}
			<img class="photo_detail" src="/media/{{ shelfdetail.image }}">
			{% else %}
			<img class="photo_blank" src="/media/covers/blank.jpg">
			{% endif %}
		</div>

		{% if user.is_superuser %}
			<!-- EDIT / ROMOVE  -->
			<div class="button_container">
			<a href="{% url 'shelf:shelf' %}"><div class="button_accent">
				Back to list
			</div></a>
			<a href="{% url 'shelf:edit' pk=shelfdetail.pk %}"><div class="button_secondary">
				Edit
			</div></a>
			<a href="{% url 'shelf:delete' pk=shelfdetail.pk %}"><div class="button_secondary">
			 	Delete
			</div></a>
			</div>
		{% else %}
		{% endif %}

	</div>


	<div class="shelf_info">

		{% if shelfdetail.title %}
		<div class="label_info">
			<p>Title:</p>
			<h2>{{ shelfdetail.title }}</h2>
		</div>
		{% else %}
		{% endif %}

		{% if shelfdetail.author %}
		<div class="label_info">
			<p>Author:</p>
			<h2>{{ shelfdetail.author }}</h2>
		</div>
		{% else %}
		{% endif %}

		{% if shelfdetail.year %}
		<div class="label_info">
			<p>Year:</p>
			<h2>{{ shelfdetail.year }}</h2>
		</div>
		{% else %}
		{% endif %}

		{% if shelfdetail.publisher %}
		<div class="label_info">
			<p>Publisher:</p>
			<h2>{{ shelfdetail.publisher }}</h2>
		</div>
		{% else %}
		{% endif %}

		{% if shelfdetail.artist %}
		<div class="label_info">
			<p>Artist:</p>
			<h2>{{ shelfdetail.artist }}</h2>
		</div>
		{% else %}
		{% endif %}

		{% if shelfdetail.quality %}
		<div class="label_info">
			<p>Quality:</p>
			<h2>{{ shelfdetail.quality }}</h2>
		</div>
		{% else %}
		{% endif %}

		{% if shelfdetail.price %}
		<div class="label_info">
			<p>Price:</p>
			<h2>{{ shelfdetail.price }}</h2>
		</div>
		{% else %}
		{% endif %}

		{% if shelfdetail.location %}
		<div class="label_info">
			<p>Location:</p>
			<h2>{{ shelfdetail.location }}</h2>
		</div>
		{% else %}
		{% endif %}

		<div class="label_info">
			<p>Tags:</p>
			<h2>
			{% for tags in shelfdetail.tags.all %}
			{{ tags }}{% if not forloop.last %},{% endif %}
			{% endfor %}
			</h2>
		</div>

		{% if shelfdetail.weight %}
		<div class="label_info">
			<p>Weight:</p>
			<h2>{{ shelfdetail.weight }}</h2>
		</div>
		{% else %}
		{% endif %}

		{% if shelfdetail.pages %}
		<div class="label_info">
			<p>Pages:</p>
			<h2>{{ shelfdetail.pages }}</h2>
		</div>
		{% else %}
		{% endif %}

	<!-- 	{% if shelfdetail.isbn %}
		<div class="label_info">
			<p>ISBN:</p>
			<h2>{{ shelfdetail.isbn | cut:".0" }}</h2>
		</div>
		{% else %}
		{% endif %} -->

		{% if shelfdetail.description %}
		<div class="label_info">
			<p>Description:</p>
			<h2>{{ shelfdetail.description }}</h2>
		</div>
		{% else %}
		{% endif %}

		{% if shelfdetail.notes %}
		<div class="label_info">
			<p>Notes:</p>
			<h2>{{ shelfdetail.notes }}</h2>
		</div>
		{% else %}
		{% endif %}
	</div>


</div>

	{% endblock %}
{% endblock %}