<!-- blog/blog.html -->
{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% load humanize %}


{% block scripts %} 
<script src="{% static 'js/blog.js' %}" defer></script>
{% endblock %}

{% block title %}Entries{% endblock title %}


{% block content %}

{% include 'blog/modal.html' %}



  <div class="top_part">
    <div class="header">
    {% if user.is_superuser %}
    <h1 id="modal_add">Entries:<a data-toggle="modal" data-target="#modal_form">Add</a></h1>
    {% else %}
    <h1>Entries</h1>
    {% endif %}
      <p class="big_p">
      Cupcake ipsum dolor sit amet marzipan chocolate cake icing donut. Sugar plum wafer jelly-o oat cake tootsie roll. Powder cake croissant soufflé icing chocolate shortbread I love. Caramels marshmallow candy canes dessert powder croissant chocolate. Gummi bears cotton candy sweet roll croissant sweet roll croissant I love. Brownie danish jujubes I love sugar plum powder liquorice. Tiramisu tart biscuit pastry topping pudding. Candy pastry pastry I love I love cotton candy liquorice bonbon bear claw.
      </p>
    </div>
  </div>


  {% if user.is_superuser %}
  <div class="tabs">

    <div class="tab_headers">
      <button class="tab_header active" data-tab="tab1" href="#published">
        Published
      </button>
      <button class="tab_header" data-tab="tab2" href="#drafts">
        Drafts
      </button>
    </div>

    <div class="tab_contents" id="post_content">
      <div id="tab1" class="tab_content active">
          {% for item in page_obj %}
          {% include 'includes/_blog.html' with user=True image=True %}
          {% endfor %}
          {% include 'includes/paginate.html' %} 
      </div>
      <div id="tab2" class="tab_content">
          {% for item in drafts %}
          {% include 'includes/_draft.html' %}
          {% endfor %}
      </div>
    </div>

  </div>
  {% else %}
    {% for item in published %}
    {% include 'includes/_blog.html' %}
    {% endfor %}
    {% include 'includes/paginate.html' %} 
  {% endif %}







{% endblock %}


