{% extends 'blog/blog_base.html' %}
{% block content %}


<div class="postlist">
    <div class="post">
      <h3>{{ blog_detail.title }}</h3>
      <div class="time">
      <p>{{ blog_detail.published_date | date:'d M Y' }}</p>
      </div>
      <div class="description">
      {{ blog_detail.text | safe }}
      </div>
    </div>



    <div class="crop_detail">
      {% if blog_detail.image %}
      <img src="{{ blog_detail.image.url }}">
      {% else %}
      <img src="/media/images/blank.jpg">
      {% endif %}
    </div>



</div>

{% if user.is_superuser %}
<!-- EDIT / ROMOVE  -->
    {% if user.is_authenticated %}
      {% if blog_detail.published_date %}
      <div class="button_container">
        <a href="{% url 'blog:blog_list' %}"><div class="button_accent">
          Back
        </div></a>
        <a href="{% url 'blog_edit' pk=blog_detail.pk %}"><div class="button_secondary">
          Edit
        </div></a>
        <a href="{% url 'blog_delete' pk=blog_detail.pk %}"><div class="button_secondary">
          Delete
        </div></a>
      </div>
      {% else %}
      <div class="button_container"> 
        <a href="{% url 'blog:blog_list' %}"><div class="button_accent">
          Back
        </div></a>
        <a href="{% url 'blog_edit' pk=blog_detail.pk %}"><div class="button_secondary">
          Edit
        </div></a>
       <a href="{% url 'blog_delete' pk=blog_detail.pk %}"><div class="button_secondary">
          Delete
        </div></a>
        <a href="{% url 'blog_publish' pk=blog_detail.pk %}">
        <div class="button_action" href="{% url 'blog_publish' pk=blog_detail.pk %}" >
          Publish
        </div></a>
      </div>
      {% endif %}
    {% endif %}
{% else %}
{% endif %}

<hr>

{% endblock %}


