{% extends 'blog/blog_base.html' %}
{% block content %}


<div class="postlist">
    <div class="post">
      <h3>{{ blogdetail.title }}</h3>
      <div class="time">
      <p>{{ blogdetail.published_date | date:'d M Y' }}</p>
      </div>
      <div class="description">
      {{ blogdetail.text | safe }}
      </div>
    </div>
    <div class="crop_detail">
      {% if blogdetail.image %}
      <img src="/media/{{ blogdetail.image }}">
      {% else %}
      <img src="/media/blank.jpg">
      {% endif %}
    </div>
</div>


<!-- EDIT / ROMOVE  -->
{% if user.is_authenticated %}
{% if blogdetail.published_date %}
<div class="button_container">
  <a href="{% url 'blog_edit' pk=blogdetail.pk %}"><div class="button_secondary">
    Edit
  </div></a>
 <a href="{% url 'blog_delete' pk=blogdetail.pk %}"><div class="button_secondary">
    Remove
  </div></a>
</div>
    {% else %}
<div class="button_container"> 
  <a href="{% url 'blog_edit' pk=blogdetail.pk %}"><div class="button_secondary">
    Edit
  </div></a>
 <a href="{% url 'blog_delete' pk=blogdetail.pk %}"><div class="button_secondary">
    Remove
  </div></a>
  <a href="{% url 'blog_publish' pk=blogdetail.pk %}">
  <div class="button_action" href="{% url 'blog_publish' pk=blogdetail.pk %}" >
    Publish
  </div></a>
</div>
{% endif %}
{% endif %}

{% endblock %}


