{% extends 'base.html' %}

{% block content %}

<div class="top_part">
  <div class="header">
  <h1>Drafts:<a hx-get="{% url 'blog:add' %}" hx-target="body" hx-swap="beforeend" id="modal_trigger">Add</a></h1>
    <p class="big_p">
        Ballast scuppers starboard admiral of the bilge water. Dance the hempen jig corsair run a shot across the bow bounty chase guns trysail galleon haul wind arr heave down. Reef execution dock long clothes coffer corsair snow jolly roger rope's end tack me. Tender league no prey, no pay swing the lead take a caulk chandler avast come about brig square-rigged.
    </p>
  </div>
</div>


{% for blog in blog_list %}
{% if not post.published_date %}

<div class="draft_post">

  <div class="crop">
    {% if blog.image %}
      <a href="{% url 'blog_detail' pk=blog.pk %}">
      <img src="/media/{{ blog.image }}">
      </a>
    {% else %}
      <a href="{% url 'blog_detail' pk=blog.pk %}">
      <img src="/media/images/blank.jpg">
      </a>
    {% endif %}
  </div>


  <div class="post">
    <a href="{% url 'blog_detail' pk=blog.pk %}">
    <h3>{{ blog.title }}</h3>
    </a>
    <time class="time">
    <p>{{ blog.published_date | date:'d M Y' }}</p>
    </time>
    <div class="description">
    {{ blog.text | safe }}
    </div>
  </div>



{% else %}
  Draft folder is empty
{% endif %}
</div>

{% endfor %}



{% endblock %}
