{% extends 'blog/blog_base.html' %}


{% block blog_content %}
<div class="top_part">
  <div class="header">
  {% if user.is_superuser %}
  <h1>Updates:<a class="nav_link" href="{% url 'blog:new' %}">Add</a></h1>
  {% else %}
  <h1>Updates</h1>
  {% endif %}
    <p class="big_p">
    Cupcake ipsum dolor sit amet marzipan chocolate cake icing donut. Sugar plum wafer jelly-o oat cake tootsie roll. Powder cake croissant soufflé icing chocolate shortbread I love. Caramels marshmallow candy canes dessert powder croissant chocolate. Gummi bears cotton candy sweet roll croissant sweet roll croissant I love. Brownie danish jujubes I love sugar plum powder liquorice. Tiramisu tart biscuit pastry topping pudding. Candy pastry pastry I love I love cotton candy liquorice bonbon bear claw.
    </p>
  </div>
</div>

{% for blog in blog_list %}
<div class="publish_post">

  <div class="crop">
    {% if blog.image %}
      <a href="{% url 'blog_detail' pk=blog.pk %}">
      <img src="/media/{{ blog.image }}">
      </a>
    {% else %}
      <a href="{% url 'blog_detail' pk=blog.pk %}">
      <img src="/media/blank.jpg">
      </a>
    {% endif %}
  </div>

  <div class="post">
    <a href="{% url 'blog_detail' pk=blog.pk %}">
    <h3>{{ blog.title }}</h3>
    </a>
    <time class="time">
    <p>{{ blog.published_date | date:'d M Y' }}</p>
    </time>
    <div class="description">
    {{ blog.text | safe }}
    </div>
  </div>



</div>
{% endfor %}



{% endblock %}


