<!-- blog/modal_edit.html -->

<div class="modal" id="modal_form" tabindex="-1" role="dialog">

  <div class="modal_dialog" role="document">



    <div class="modal_header">
        <h5>Update entry</h5>
        <div id="close_x" data-dismiss="modal">
        <img src="/media/images/icons/24x24_close.svg">
        </div>
    </div>
    



	<form method="POST" action="#" id="edit_form" enctype="multipart/form-data">


        <div class="form_container">

          <!-- TITLE -->
          <label for="id_title">Title:</label>
          <input type="text" name="title" maxlength="200" class="field_char" placeholder="Enter text" id="id_title" required="">

          <!-- MESSAGE -->
          <label for="id_message">Message:</label>
          <textarea name="message" cols="40" rows="10" class="field_description" placeholder="What are you going to say?" id="id_message" required=""></textarea>
          
          <!-- TAGS -->
          <div>
          <label for="id_tags">Tags:</label>
          <input class="field_char"  id="id_tags" value="{% for tags in blog_detail.tags.all %}{{ tags }}{% if not forloop.last %}, {% endif %}{% endfor %}">
          </div>

          <!-- IMAGE -->
          <label for="id_image">Image:</label>
          <input type="file" name="image" accept="image/*" class="field_image" placeholder="" id="id_image">

          <div class="modal_image_enlarged_container"> 
          <div class="modal_image_enlarged not_visible" id="modal_image_large"> 
          <img src="{{ blog_detail.image.url }}">
          </div>
          </div>

          <div id="shader"></div>
          <div class="modal_image_thumb_container"> 
          <div class="modal_image_thumb"> 
          <img src="{{ blog_detail.image.url }}" id="modal_image_thumb">
          </div>
          <p class="current_image">current image</p>
          </div>


          {% csrf_token %}

        </div>



      <div class="button_container_modal">
  			<button type="button" class="button_secondary" data-dismiss="modal" id="cancel_button">I don't want to</button>
  			<input type="submit" value="Update" class="button_accent"></input>
      </div>
    </form>





  </div>
</div>


