<!-- blog/modal_delete.html -->
{% load static %}

<div class="modal" id="delete_modal">



    <div class="modal_dialog" id="delete_content">

      <div class="modal_header" style="padding-bottom:0px">
        <h3>Delete this post? <b>{{ blog_detail.title }}</b></h3>
        <div id="close_x" data-dismiss="modal">
        <img src="/media/images/icons/24x24_close.svg">
        </div>
      </div>

      <form method="POST" action="" id="delete_form">


        <div class="form_container">
            {% csrf_token %}
        </div>


      <div class="button_container_modal">
        <button type="button" class="button_secondary" data-dismiss="modal" id="cancel_button">Yikes, Nevermind</button>
        <button type="submit" class="button_accent" id="button_delete" style="background-color:red; color:white">Delete</button>
      </div>

    </form>
  
  </div>


</div>