<!-- profiles/profile.html -->
{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% load humanize %}

{% block scripts %} 
<script src="{% static 'js/profiles.js' %}" defer></script>
{% endblock %}

{% block title %}
My Profile
{% endblock title %}


{% block content %}

<div class="top_part">
	<h1>info: {{ user }}</h1>
</div>

<div class="profile_detail">


		<div class="modal_image_enlarged_container"> 
			<div class="modal_image_enlarged not_visible" id="modal_image_large"> 
			<img src="{{ info.picture.url }}" id="info_image_large">
			</div>
		</div>


		<div id="shader"></div>

<!-- 		{% if info.picture %}
		<div class="profile_crop_detail" id="profile_crop_detail" style="background-image: url( {{ info.picture.url }} )">
		</div> -->
<!-- 		{% else %}
		<div class=profile_crop_detail id="profile_crop_detail">
			<img class="photo_blank" src="/media/covers/blank.jpg">
		</div>
		{% endif %} -->

	<div class="content_info">
		<div class="profile_info">

			<div class="profile_left">

				<label for="id_image">Picture:</label>
				<div class="profile_crop_detail" id="profile_crop_detail" style="background-image: url( {{ info.picture.url }} )">
				</div>

			</div>


			<div class="profile_right">
				<form id="profile_form">

					<div class="label_info">
						<label for="picture-clear_id">Currently:</label>
						<input type="checkbox" name="picture-clear" id="picture-clear_id">
						<label for="picture-clear_id">Clear</label>
						<div class="custom_file_upload">
							{{ info.picture }} 
							<input type="file" id="fileInput" class="file-input">
						</div>

					</div>

					<div class="label_info">
						<label for="id_bio">Bio:</label>
			           	<textarea name="bio" cols="40" rows="10" class="field_description" id="id_bio">{{ info.bio }}</textarea>
			       	</div>

			       	{% csrf_token %}

			       	<div class="button_container">
						<button type="submit" class="button_accent">Save</button>
					</div>

				</form>
		   	</div>

	   	</div>
	</div>




	<div class="content_info">

		<div class="label_info">
			<p>Username:</p>
			<h2>{{ info.user }}</h2>
		</div>

		<div class="label_info">
			<p>About:</p>
			<h2>{{ info.bio }}</h2>
		</div>

		<div class="label_info">
			<p>Joined:</p>
			<h2>{{ user.date_joined|naturaltime }}</h2>
		</div>

	</div>


</div>

<div class="profile_div"></div>


<div class="profile_header">
<h2>Activity:</h2>
</div>




<div>
{% for item in page_obj %}

<!-- GROUP -->

{% if item|is_app:"groups" %}

{% include 'includes/_comment.html' with delete=False group=True %}

<!-- POST -->

{% elif item|is_app:"posts" %}

{% include 'includes/_post.html' with delete=False group=True %}


<!-- CHIRP -->

{% elif item|is_app:"chirps" %}

{% include 'includes/_chirp.html' with delete=False group=True %}


<!-- BLOG -->

{% elif item|is_app:"blog" %}

{% include 'includes/_blog.html' with user=True %}

<!-- SHELF -->

{% elif item|is_app:"shelf" %}

{% include 'includes/_shelf.html' %}


{% endif %}

{% endfor %}


{% include 'includes/paginate.html' %}
</div>





{% endblock content %}