<!-- profiles/profile.html -->
{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% load humanize %}

{% block scripts %} 
<script src="{% static 'js/profiles.js' %}" defer></script>
{% endblock %}

{% block title %}
My Profile
{% endblock title %}


{% block content %}

<div class="top_part">
	<h1>info: {{ user }}</h1>
</div>

<div class="profile_detail">

	<div class="profile_top_detail">	


		<div class=crop_detail id="crop_detail">
			{% if info.picture %}
			<img class="profile_photo" src="/media/{{ info.picture }}">
			{% else %}
			<img class="photo_blank" src="/media/covers/blank.jpg">
			{% endif %}
		</div>



		<div class="button_container">

		</div>

	</div>


	<div class="content_info">

		<div class="label_info">
			<p>Username:</p>
			<h2>{{ info.user }}</h2>
		</div>

		<div class="label_info">
			<p>About:</p>
			<h2>{{ info.bio }}</h2>
		</div>

		<div class="label_info">
			<p>Joined:</p>
			<h2>{{ user.date_joined|naturaltime }}</h2>
		</div>

	</div>


</div>

<div class="profile_div"></div>


<div class="profile_header">
<h2>Activity:</h2>
</div>




<div>
{% for item in page_obj %}

<!-- GROUP -->

{% if item|is_app:"groups" %}

{% include 'includes/_comment.html' with delete=False group=True %}

<!-- POST -->

{% elif item|is_app:"posts" %}

{% include 'includes/_post.html' with delete=False group=True %}


<!-- CHIRP -->

{% elif item|is_app:"chirps" %}

{% include 'includes/_chirp.html' with delete=False group=True %}


<!-- BLOG -->

{% elif item|is_app:"blog" %}

{% include 'includes/_blog.html' with user=True %}

<!-- SHELF -->

{% elif item|is_app:"shelf" %}

{% include 'includes/_shelf.html' %}


{% endif %}

{% endfor %}


{% include 'includes/paginate.html' %}
</div>





{% endblock content %}