<!-- aaa/accounts/templates/accounts/login.html -->
{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="acct_content">
	<h1>Log In</h1>
	<div class="forms">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div>
				<label for="username">Username:</label>
				<input type="text" name="username" placeholder="">
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="password" name="password" placeholder="">
			</div>
			<input type="submit" class="btn" value="Login">
		</form>
	</div>
</div>


{% endblock %}