<!-- /accounts/signup.html -->
{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}


<div class="acct_content">

<div class="top_part">
	<div class="header">
		<h1>Sign Up</h1>
	</div>
</div>



	<div class="forms">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			<!-- USERNAME -->
			<div>
				<label class="form-label" for="id_username">A Name:</label>
				<input type="text" name="username" maxlength="150" autofocus="" class="field_char" placeholder=""  required="" id="id_username">
			    <small class="form-text text-muted">
			    	Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
				</small>
			</div>

			<!-- EMAIL -->
			<div>
				<label class="form-label" for="id_email">Email:</label>
				<input type="email" name="email" maxlength="254" class="field_char" placeholder="" title="" id="id_email">
			</div>


			<!-- PASSWORD 1 -->
			<div>
				<label class="form-label" for="id_password1">Password:</label>
				<input type="password" name="password1" autocomplete="new-password" class="field_char" placeholder="" required="" id="id_password1">
			    <small class="form-text text-muted">
			    	<ul>
			    		<!-- <li>Your password can’t be too similar to your other personal information.</li> -->
			    		<li>Password must be at least 8 characters and alphanumeric.</li>
			    		<!-- <li>Your password can’t be a commonly used password.</li> -->
			    		<!-- <li>Your password can’t be entirely numeric.</li> -->
			    	</ul>
			    </small>
			</div>

			<!-- PASSWORD 2 -->
			<div>
				<label class="form-label" for="id_password2">Password Confirm:</label>
				<input type="password" name="password2" autocomplete="new-password" class="field_char" placeholder="" required="" id="id_password2">
			    <small class="form-text text-muted">Enter the same password as before, for verification.</small>
			</div>


			<!-- SUBMIT BUTTON -->
			<div class="button_container" style="width:100%">
				<input type="submit" class="button_accent_large" value="Sign Up">
			</div>
		</form>
	</div>
</div>


{% endblock %}




