/* styles.css */
select {
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

#image-clear_id {
  display: none;
}

.forms {
  font-family: Courier new, Roboto;
  padding-top: 10px;
  color: #333;
  font-weight: 400;
  height: 56px;
}
.forms input,
.forms textarea,
.forms .editable {
  height: 56px;
  width: -webkit-fill-available;
  background-color: #F2F2F2;
  border: none;
  width: -webkit-fill-available;
  font-size: 24px;
  resize: none;
  font-family: Courier new, Roboto;
  padding: 8px;
  overflow: scroll;
}
.forms input[type=file i] {
  height: auto;
  font-family: Courier new, Roboto;
  padding: 8px;
}
.forms .editable {
  height: 200px;
  padding: 8px;
}
.forms .medium-editor-placeholder-relative:after, .forms .medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  white-space: pre;
  padding: inherit;
  font-style: normal;
}
.forms .btn_save {
  height: 80px;
  width: 100%;
  color: white;
  background-color: red;
  font-size: 24px;
  border: none;
  margin-top: 80px;
}
.forms div {
  margin-bottom: 40px;
}
.forms input.btn {
  height: 80px;
  background-color: #8F00FF;
  cursor: pointer;
  color: white;
  font-size: 24px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  margin: 40px 0px 20px 0px;
}
.forms .cancel {
  height: 80px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  background-color: #F2F2F2;
  cursor: pointer;
  font-size: 24px;
  color: #222;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  font-family: courier new, monospace;
  line-height: 80px;
  border: none;
}
.forms .cancel a {
  display: block;
  width: 100%;
}
.forms select:-internal-list-box {
  appearance: auto;
  align-items: flex-start;
  vertical-align: text-bottom;
  white-space: nowrap;
  border-radius: 2px;
}
.forms select {
  height: 56px;
  text-rendering: auto;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  -webkit-rtl-ordering: logical;
  background-color: #F2F2F2;
  cursor: default;
  white-space: pre;
  border: none;
  font-size: 24px;
  padding: 8px;
}
.forms select[multiple] {
  padding-right: 0;
  height: 12rem;
  margin: 0em;
}
.forms select[multiple] option {
  font-size: 24px;
  font-weight: normal;
  display: block;
  padding-block-start: 0px;
  padding-block-end: 1px;
  min-block-size: 1.2em;
  padding-inline: 2px;
  white-space: nowrap;
}
.forms label {
  padding-top: 20px;
}
.forms .file_input {
  display: none;
}

textarea.form-control {
  height: 56px;
  width: -webkit-fill-available;
  background-color: #F2F2F2;
  font-size: 24px;
  resize: none;
  font-family: Courier new, Roboto;
  overflow: scroll;
  height: 200px;
  padding: 8px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 8px #8F00FF solid;
}

input.form-control {
  border: none;
  width: -webkit-fill-available;
  background-color: #F2F2F2;
  font-size: 24px;
  resize: none;
  font-family: Courier new, Roboto;
  overflow: scroll;
  padding: 8px;
  margin-bottom: 16px;
}

.form_container {
  margin-bottom: 40px;
}

div label {
  width: auto;
  font-family: Helvetica neue, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
  color: #8F00FF;
  padding: 0px 0px 16px 0px;
  font-size: 20px;
  border: none;
}

.form-select {
  height: 180px;
  font-family: Courier new, Roboto;
  font-size: 24px;
  background-color: #EEEEEE;
  border: none;
  width: -webkit-fill-available;
  font-size: 24px;
  resize: none;
  overflow: scroll;
  padding: 8px;
}

.form-text,
.form-text ul,
.form-text ul li {
  display: block;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

/*COLOR CHANGER*/
/*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/
.loader {
  filter: hue-rotate(0deg);
  color: linear-gradient(45deg, #0f8, #08f);
  animation: hue 5000ms infinite linear;
}

@keyframes spinify {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(0px, 24px);
    border-radius: 100%;
    width: 10px;
    height: 10px;
  }
  66% {
    transform: translate(0px, -16px);
  }
  88% {
    transform: translate(0px, 4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.button_small {
  font-family: Courier new, Roboto;
  font-style: normal;
  color: #8F00FF;
  font-weight: 200;
  list-style-type: none;
  letter-spacing: 0px;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
  margin: 0px;
  padding: 0px;
  line-height: 26px;
  cursor: pointer;
}

.button_container,
.button_container form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.button_container .button,
.button_container input.button,
.button_container .button_secondary,
.button_container .button_action,
.button_container form .button,
.button_container form input.button,
.button_container form .button_secondary,
.button_container form .button_action {
  padding: 0px 20px;
  background-color: #8F00FF;
  color: white;
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: Helvetica neue, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 56px;
}
.button_container .button a,
.button_container input.button a,
.button_container .button_secondary a,
.button_container .button_action a,
.button_container form .button a,
.button_container form input.button a,
.button_container form .button_secondary a,
.button_container form .button_action a {
  color: white;
  display: inline-block;
  width: 100%;
}
.button_container .button_secondary,
.button_container form .button_secondary {
  background-color: #CCCCCC;
}
.button_container .button_action,
.button_container form .button_action {
  background-color: #00FF7F;
  color: #333;
}
.button_container .button_action a,
.button_container form .button_action a {
  color: #333;
  display: inline-block;
  width: 100%;
}

/***** MODAL DIALOG ****/
#modal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(76, 127, 111, 0.8);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 	animation-name: fadeIn;
  	animation-duration: 150ms;
  	animation-timing-function: ease; */
  /* backdrop-filter: blur(2px); */
  /* backdrop-filter: invert(100%); */
}

#modal > .modal-underlay {
  /* underlay takes up the entire viewport. This is only
  required if you want to click to dismiss the popup */
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#modal > .modal-content {
  margin-top: 10vh;
  width: 80%;
  max-width: 800px;
  border: 20px #FFFFFF solid;
  border-radius: 0px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.01);
  background-color: white;
  padding: 20px;
  /* 	animation-name: zoomIn;
  	animation-duration: 150ms;
  	animation-timing-function: ease; */
}

#modal.closing {
  /* Animate when closing */
  animation-name: fadeOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

#modal.closing > .modal-content {
  /* Animate when closing */
  animation-name: zoomOut;
  animation-duration: 150ms;
  animation-timing-function: ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, hgroup, menu, nav, output, section, summary, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-overflow: ellipsis;
  text-align: left;
}

.image_cover_container img {
  max-width: 200px;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: #8F00FF;
  cursor: pointer;
}

.body_block {
  padding: 120px 20px 120px 20px;
}
.body_block .big_p {
  font-weight: 400;
  font-family: Helvetica neue, sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 28px;
  padding: 20px 0px 0px 0px;
  margin-inline-end: 20px;
  margin-block-end: 0.25em;
}

.list_block {
  padding: 120px 20px 120px 20px;
}

* {
  box-sizing: border-box;
}

li a.nav_link,
.nav_link,
.overlay-event {
  line-height: 24px;
  color: #8F00FF;
  cursor: pointer;
}

.nav_link li a,
.overlay-event li a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav_link li,
.overlay-event li {
  position: relative;
  display: block;
}

.nav_bar {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
  display: table;
  width: 100%;
  list-style: none;
  background-color: #F2F2F2;
  font-family: Courier new, Roboto;
  text-decoration: none;
  text-underline-offset: 8px;
  text-transform: uppercase;
  width: 100%;
  justify-content: flex-start;
  padding: 20px 24px 20px 24px;
  margin: 0;
}
.nav_bar .overlay-event {
  text-decoration: none;
  text-underline-offset: 8px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  text-decoration: underline;
}

.navbar_right {
  float: right;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.navbar_left {
  float: left;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.top_part {
  padding: 0px 0px 18px 0px;
}
.top_part .header {
  margin-bottom: 20px;
}
.top_part .header a {
  text-decoration: underline;
  text-underline-offset: 16px;
}
.top_part .header .group_count {
  display: flex;
  gap: 12px;
  padding: 4px 6px 2px;
  font-family: Courier new, Roboto;
  background-color: #F2F2F2;
  width: fit-content;
}
.top_part h1 {
  font-family: Helvetica neue, sans-serif;
  color: #8F00FF;
  text-transform: none;
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 88px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
  line-height: 100px;
  margin-inline-end: 20px;
}
.top_part .big_p {
  font-weight: 400;
  font-family: Helvetica neue, sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 28px;
  padding: 20px 0px 0px 0px;
  margin-inline-end: 20px;
  margin-block-end: 0.25em;
}

.postlist .postindex {
  padding: 20px 0px;
  font-family: Courier new, Roboto;
  font-style: normal;
  font-weight: 200;
  list-style-type: none;
  letter-spacing: 0x;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
  line-height: 26px;
  margin: auto;
}
.postlist .postindex .title {
  font-family: Helvetica neue, sans-serif;
  color: #00FF7F;
  text-align: left;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 48px;
  text-decoration: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  line-height: 54px;
}
.postlist .postindex .title .publish {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 24px;
  padding: 8px 1px;
}

.post,
.post_after {
  padding-top: 20px;
  font-family: Courier new, Roboto;
  font-style: normal;
  font-weight: 200;
  list-style-type: none;
  letter-spacing: 0x;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
  margin: 0px;
  padding: 12px 0px;
  line-height: 26px;
  /*   max-width: 1000px; */
  margin: auto;
}
.post a,
.post_after a {
  color: #8F00FF;
  text-decoration: none;
}
.post time a,
.post_after time a {
  color: #333;
}
.post p,
.post_after p {
  color: #333;
}
.post .crop_detail,
.post_after .crop_detail {
  max-height: 200px;
  overflow: hidden;
}
.post .photo_detail,
.post_after .photo_detail {
  /*     max-width: 200px; */
  width: 100%;
}
.post .title,
.post_after .title {
  font-family: Helvetica neue, sans-serif;
  color: #00FF7F;
  text-align: left;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 48px;
  text-decoration: none;
  margin: 12px 0px 8px 0px;
  padding: 0px;
  line-height: 54px;
}
.post .title .publish,
.post_after .title .publish {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 24px;
  padding: 8px 2px;
}
.post .comments,
.post_after .comments {
  font-family: Helvetica neue, sans-serif;
  color: #00FF7F;
  text-transform: uppercase;
}
.post .content,
.post_after .content {
  padding: 16px 0px 20px 0px;
}
.post .content p,
.post_after .content p {
  font-family: Courier new, Roboto;
  font-style: normal;
  font-weight: 200;
  list-style-type: none;
  letter-spacing: 0px;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
  margin: 0px;
  padding: 0px;
  line-height: 26px;
}

hr {
  width: 100%;
  border-top: 1px dotted #333;
  margin: 20px 0px;
}

.tag_row {
  display: inline-flex;
  flex-direction: row;
  gap: 6px;
  padding: 16px 0px 8px 0px;
}
.tag_row .tags {
  font-family: Helvetica neue, sans-serif;
  background-color: #F2F2F2;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 2px;
  padding: 0px 8px;
}

.below {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

.grid_container {
  font-family: Helvetica neue, sans-serif;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.grid_info {
  -ms-flex: 10%; /* IE10 */
  flex: 10%;
  max-width: 10%;
  padding: 20px 20px;
  background-color: #00FF7F;
  border: 2px solid white;
  color: darkgreen;
  font-family: Courier new, Roboto;
  font-weight: 500;
  line-height: 28px;
}

.grid_after {
  background-color: #00FF7F;
  -ms-flex: 10%; /* IE10 */
  flex: 10%;
  max-width: 100%;
  padding: 20px 20px;
  border: 2px solid white;
  color: darkgreen;
  font-family: Courier new, Roboto;
  font-weight: 500;
  line-height: 28px;
}

@media screen and (max-width: 1500px) {
  .grid_info {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    padding: 20px 20px;
  }
}
@media screen and (max-width: 800px) {
  .grid_info {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
.grid_info .grid_photo,
.grid_info .grid_blank {
  margin-top: 8px;
  vertical-align: middle;
}

#overlay {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.01s ease-out;
}

#overlay.overlay-on {
  visibility: visible;
  opacity: 1;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay-inner {
  padding: 10px 60px;
  background-color: #FFF;
  text-align: center;
}

/* #open-btn, #close-btn {
    display: block;
    padding: 8px 20px;
    line-height: 20px;
    position: sticky;
    background-color: #eee;
    border: solid #ccc 1px;
    cursor: pointer;
} */
h1 {
  font-family: Helvetica neue, sans-serif;
  color: #8F00FF;
  text-transform: none;
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 88px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 60px;
  line-height: 100px;
  margin-inline-end: 20px;
}

h2 {
  font-family: Helvetica neue, sans-serif;
  color: #8F00FF;
  text-transform: none;
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 48px;
  text-decoration: none;
  margin: 0px;
  padding: 20px 0px;
  line-height: 56px;
  margin-inline-end: 20px;
}

h3,
h3 p {
  font-family: Helvetica neue, sans-serif;
  color: #8F00FF;
  text-transform: none;
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 32px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 4px;
  line-height: 44px;
  margin-inline-end: 20px;
  max-width: 1000px;
}

.group_container {
  font-family: Helvetica neue, sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.group_list {
  font-family: Helvetica neue, sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.group_list .group_title {
  font-family: Helvetica neue, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  width: fit-content;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.group_list .group_name {
  font-size: 24px;
  padding-bottom: 4px;
}
.group_list .group_description {
  font-family: Courier new, Roboto;
  text-transform: none;
  overflow: hidden;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 8px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 60px;
}
.group_list .group_count {
  display: flex;
  gap: 12px;
  padding: 4px 6px 2px;
  font-family: Courier new, Roboto;
  background-color: #00e874;
}
.group_list .leave_join,
.group_list .leave_join a {
  font-family: Helvetica neue, sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  color: #333;
  width: fit-content;
  text-transform: uppercase;
  padding: 0px 4px;
  background-color: #FFF;
  margin-bottom: 4px;
}

.group_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 20px 20px;
  background-color: #00FF7F;
  border: 2px solid white;
  color: darkgreen;
  font-family: Courier new, Roboto;
  font-weight: 500;
  line-height: 28px;
}

@media screen and (min-width: 1500px) {
  .group_card {
    -ms-flex: 20%;
    flex: 20%;
    max-width: 20%;
    padding: 20px 20px;
  }
}
@media screen and (max-width: 1000px) {
  .group_card {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .group_card {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

section {
  padding-top: 100px;
}

.acct_content {
  max-width: 600px;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
