// ajax.scss
$font-stack1: Helvetica neue, sans-serif;
$font-stack2: Courier new, Roboto;
$primary: #333;
$secondary: #F2F2F2;
$accent1: #8F00FF;
$accent2: #00FF7F;





.not_visible {
	display: none;
}





#group_list {


	#loader_container {
		position: fixed;      /* SET TO FIXED */
		top: 0;
		left: 0;
		width: 100vw;         /* USE VIEWPORT UNITS */ 
		height: 100vh;        /* USE VIEWPORT UNITS */
		z-index: 1001;        /* MOVE Z-INDEX HERE! */
	}

	#loader {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 8vmax;
		height: 8vmax;
		margin: -4vmax;       /* ADD THIS (half the W/H) */
		border-radius: 50%;
		border: 10px solid transparent;
		border-top-color: $accent1;
		animation: spin 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
	}

	@keyframes spin {
		0%   {transform: rotate(0deg);}
		100% {transform: rotate(360deg);}
	}


}

#nomore {
	cursor: default;
}


.post_message h3 {
	padding-bottom: 8px;
}




#alert_box {


	.alert_success {
	  display: block;
	  z-index: 2;
	  position: fixed;
	  font-family: $font-stack1;
	  font-weight: 400;
	  font-size: 12px;
	  letter-spacing: 2px;
	  text-transform: uppercase;
	  background-color: $accent2;
	  color: $primary;
	  padding: 8px 14px;
	  top: 40px;
	  border-radius: 4px;
	  margin: 0;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

	.alert_error {
	  display: block;
	  z-index: 2;
	  position: fixed;
	  font-family: $font-stack1;
	  font-weight: 400;
	  font-size: 12px;
	  letter-spacing: 2px;
	  text-transform: uppercase;
	  background-color: red;
	  color: white;
	  padding: 8px 14px;
	  top: 40px;
	  border-radius: 4px;
	  margin: 0;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

}














