// buttons.scss
$font-stack1: Helvetica neue, sans-serif;
$font-stack2: Courier new, Roboto;
$primary: #222;
$secondary: #e0e0e0;
$accent1: #8F00FF;
$accent2: #00FF7F;




.button_container,
.button_container form {
  margin: 40px 0px 0px 0px; 
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: fit-content;
}


.button a {
  color: $primary;
  width: 100%;
}

.button_small {
  font-family: $font-stack1;
  text-transform: uppercase;
  font-style: normal;
  color: $primary;
  font-weight: 400;
  letter-spacing: 2px;
  list-style-type: none;
  font-size: 12px;
  text-decoration: none;
  margin: 0px;
  padding: 4px 12px;
  border-radius: 3px;
  line-height: 26px;
  cursor: pointer;
  background-color: lightpink;
  width: fit-content;
  border: none;
  height: min-content;
  a {
    color: $primary;
  }
}

.modal_button_xsmall {
  font-family: $font-stack1;
  font-style: normal;
  color: $primary;
  font-weight: 400;
  letter-spacing: 1px;
  list-style-type: none;
  font-size: 12px;
  text-decoration: none;
  margin: 0px 0px 2px 0px;
  padding: 0px 6px;
  border-radius: 3px;
  line-height: 24px;
  background-color: #EEEEEE;
  width: fit-content;
  border: none;
  resize: none;
  height: min-content;
  align-self: center;
}

.button_base {
  padding: 0px 20px;
  background-color: $secondary;
  color: $primary;
  display: block;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;

  font-family: $font-stack1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 56px;

  a {
    color: $primary;
  }
}

.button_secondary {
  padding: 0px 20px;
  background-color: $secondary;
  color: $primary;
  display: block;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;

  font-family: $font-stack1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 56px;

}


.button_danger {
  padding: 0px 20px;
  background-color: red;
  color: white;
  display: block;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;

  font-family: $font-stack1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 56px;

  a {
    color: $primary;
  }
}

input.button_accent,
.button_accent {
  padding: 0px 20px;
  background-color: $accent1;
  color: white;
  display: block;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;

  font-family: $font-stack1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 56px;

  a {
    color: $primary;
  }

}

input.button_accent_large,
.button_accent_large {
  padding: 0px 20px;
  background-color: $accent1;
  color: white;
  display: block;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;
  height: 64px;
  width: 100%;

  font-family: $font-stack1;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 64px;

  a {
    color: $primary;
  }

}




.button_action {
  padding: 0px 20px;
  background-color: $accent2;
  color: $primary;
  display: block;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;

  font-family: $font-stack1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 56px;

  a {
    color: $primary;
  }
}



.button_alert {
  padding: 0px 20px;
  background-color: #f5c6cb;
  color: #721c24;
  display: block;
  border-radius: 4px;
  border: none;
  text-align: center;
  cursor: pointer;

  font-family: $font-stack1;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 56px;

  a {
    color: $primary;
  }
}


#load_button {
  border: 2px white solid;
  background-color: #75ffba;
}

#nomore {
  border: 2px white solid;
}





/* TABS */


.tab_headers {
  margin-bottom: 40px;
}

.tab_content {
  display: none;
}

.tab_content.active {
  display: block;
}

.tab_headers .tab_header {
  border: 1px solid white;
  padding: 20px 24px;
}

.tab_header.active {
  border: 1px solid #8f00ff;
  border-radius: 2px;
  background-color: #8f00ff;
  color: white;
}












