// styles.scss
$font-stack1: Helvetica neue, sans-serif;
$font-stack2: Courier new, Roboto;
$primary: #333;
$secondary: #F2F2F2;
$background_color: #EEEEEE;
$accent1: #8F00FF;
$accent2: red;



select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}


select {
  padding: 8px;
  height: 56px;
  background-color: $secondary;
  resize: none;

  font-family: $font-stack2;
  font-size: 24px;
}

#image-clear_id {
  display: block;
}


/* CHECKBOX */


div label {
  width: auto;
  font-family: $font-stack1;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
  color: $accent1;
  padding: 40px 0px 16px 0px;
  font-size: 20px;
  border: none;
}

.form-select {
  height: auto;
  font-family: $font-stack2;
  font-size: 24px;
  background-color: $background_color;


  border: none;
  width: -webkit-fill-available;
  font-size: 24px;
  resize: none;
  overflow: scroll;
  padding: 8px;

}


.form-text,
.form-text ul,
.form-text ul li {
  display: block;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.form_page {
  max-width: 800px;
  margin: auto;
  height: auto;
}




/* BLOG SECTION */


.blog_image {
  height: auto;
  font-family: $font-stack2;
  padding: 8px;
  border: none;
  width: -webkit-fill-available;
  font-size: 24px;
  resize: none;
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  text-align: start !important;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  max-height: 600px;
  overflow: hidden;
}



.forms .blog_text {
  width: -webkit-fill-available;
  background-color: $secondary;
  border: none;
  width: -webkit-fill-available;
  font-size: 24px;
  resize: none;
  font-family: $font-stack2;
  overflow: scroll;
  height: 200px;
  padding: 8px;
  content: attr(data-placeholder) !important;
  white-space: pre;
  font-style: normal;
}

.medium-editor-placeholder-relative:after, .medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  white-space: pre;
  padding: inherit;
  font-style: normal;
}


.helptext {
  display: block;
  padding: 12px 0px 0px 0px;
  line-height: 12px;
  float: right;
}






.field_char,
.field_int,
.field_decimal,
.field_select,
.field_float,
.field_image,
.field_description {
  line-height: 30px;
  font-family: $font-stack2;
  font-size: 20px;

  padding: 8px 14px;
  height: 56px;
  width: 100%;

  color: $primary;
  background-color: $background_color;

  border: none;
  resize: none;
  vertical-align: top;
}

.field_image {
  padding: 14px;
  height: auto;
  margin-bottom: 20px;
}

.field_description {
  height: 164px;
  overflow: scroll;
}

label {
  padding-top: 20px;
}


.field_select {
  line-height: 30px;
  font-family: $font-stack2;
  font-size: 20px;
  
  text-align: start;
  text-rendering: auto;
  text-indent: 0px;
  text-shadow: none;

  height: 56px;
  display: inline-block;
  appearance: none;
  box-sizing: border-box;
  align-items: center;
  -webkit-rtl-ordering: logical;

  background-color: $background_color;
  cursor: default;
  white-space: pre;
  border: none;
  padding: 8px 14px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

input[type=file]::file-selector-button {
    /*display: none;*/
    border: none;
    background-color: white;
    padding: 14px 16px;
    font-family: courier new, monospace;
    text-decoration: none;
    margin-right: 20px;
    cursor: pointer;
}


.widget_checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
}


.widget_checkbox {
/*     width: auto;
    font-family: Helvetica neue, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    color: #8F00FF;
    padding: 40px 0px 16px 0px;
    font-size: 20px;
    border: none; */
    display: flex;
    flex-direction: row;
    gap: 8px;
}



.search_bar form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 34px;
}

.field_small {
  font-family: $font-stack1;
  font-style: normal;
  color: $primary;
  font-weight: 400;
  letter-spacing: 1px;
  list-style-type: none;
  font-size: 12px;
  text-decoration: none;
  margin: 0px;
  padding: 4px 12px;
  border-radius: 3px;
  line-height: 26px;
  background-color: $background_color;
  width: fit-content;
  border: none;
  resize: none;
  height: min-content;
}

.search_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  margin: 40px 0px 20px 0px;
  position: sticky;
  top: 66px;
  background-color: white;
  padding: 20px 0px;
  max-width: 1560px;
}

.search_bar .field_small {
  float: left;
  width: 100%;
}


.search_bar .button_small {
  float: right;
}

/* #image-clear_id {
  display: none;
}

label .text {
  display: none;
}
 */

#postform {
  max-width: 600px;
}


