// styles.scss
$font-stack1: Helvetica neue, sans-serif;
$font-stack2: Courier new, Roboto;
$primary: #333;
$secondary: #F2F2F2;
$accent1: #8F00FF;
$accent2: #00FF7F;

/* styles.css */

@use 'forms';
@use 'loader';
@use 'buttons';
@use 'modal';


/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, hgroup, menu, nav, output, section, summary, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-overflow: ellipsis;
  text-align: left;
}

.image_cover_container img {
  max-width: 200px;
}



body {
  background-color: white;
}

a {
  text-decoration: none;
  color: $accent1;
  cursor: pointer;
}

.body_block {
    padding: 120px 20px 120px 20px;
    max-width: 1600px;
    margin: auto;

    .big_p {
      font-weight: 400;
      font-family: $font-stack1;
      letter-spacing: 1px;
      font-size: 24px;
      line-height: 28px;
      padding: 20px 0px 0px 0px;
      margin-inline-end: 20px;
      margin-block-end: .25em;
    }
}

.list_block {
    padding: 120px 20px 120px 20px;
}

* {
  box-sizing: border-box;
}

li a.nav_link,
.nav_link,
.overlay-event {
  color: $accent1;
  cursor: pointer;
  line-height: 24px;
}

.nav_link,
.overlay-event {
  li a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  li {
    position: relative;
    display: block;
  }
}

#nav_bar {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
  display: table;
  list-style: none;
  background-color: $secondary;
  font-family: $font-stack2;
  text-decoration: none;
  text-underline-offset: 8px;
  text-transform: uppercase;
  width: -webkit-fill-available;
  justify-content: flex-start;
  padding: 20px 32px;
  max-height: 64px;
  height: 80px;
  margin: 0px 0px;
  transition: 0.2s;
  box-shadow: 0px 0px 0px #CCC;


  .overlay-event {
    text-decoration: none;
    text-underline-offset: 8px;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    text-decoration: underline;
  }

  #navbar_right {
    float: right;
    display: inline-flex;
    line-height: 48px;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    transition: 0.2s;
  }

  #navbar_left {
    float: left;
    display: inline-flex;
    line-height: 48px;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    transition: 0.2s;
  }

}



.top_part {
  padding: 0px 0px 18px 0px;

  .header {
    margin-bottom: 20px;

    a {
      text-decoration: underline;
      text-underline-offset: 16px;
    }

    .group_count {
      display: flex;
      gap: 12px;
      padding: 4px 6px 2px;
      font-family: $font-stack2;
      background-color: $secondary;
      width: fit-content;
    }

  }

  h1 {
    font-family: $font-stack1;
    color: $accent1;
    text-transform: none;
    list-style-type: none;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 88px;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    line-height: 100px;
    margin-inline-end: 20px;
  }

  .big_p {
    font-weight: 400;
    font-family: $font-stack1;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 28px;
    padding: 20px 0px 0px 0px;
    margin-inline-end: 20px;
    margin-block-end: .25em;
  }

}


.postlist {

  .postindex {
    padding: 20px 0px;
    font-family: $font-stack2;
    font-style: normal;
    font-weight: 200;
    list-style-type: none;
    letter-spacing: 0x;
    font-size: 18px;
    text-decoration: none;
    text-transform: none;
    line-height: 26px;
    margin: auto;

    .title {
      font-family: $font-stack1;
      color: $accent2;
      text-align: left;
      text-transform: uppercase;
      list-style-type: none;
      font-weight: 800;
      letter-spacing: 2px;
      font-size: 48px;
      text-decoration: none;
      margin: 0px 0px 10px 0px;
      padding: 0px;
      line-height: 54px;

      .publish {
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 24px;
        line-height: 24px;
        padding: 8px 1px;
      }
    }

  }

}



.post,
.post_after {

  padding-top: 20px;
  font-family: $font-stack2;
  font-style: normal;
  font-weight: 200;
  list-style-type: none;
  letter-spacing: 0x;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
  margin: 0px;
  padding: 12px 0px;
  line-height: 26px;
  /*   max-width: 1000px; */
  margin: auto;

  .postlist_after{

  }

  a {
    color: $accent1;
    text-decoration: none;

  }

  time a {
    color: $primary;
  }

  p {
    color: $primary;
  }

  .crop_detail {
    max-height: 200px;
    overflow: hidden;
  }

  .photo_detail {
/*     max-width: 200px; */
    width: 100%;
  }

  .title {
    font-family: $font-stack1;
    color: $accent2;
    text-align: left;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 48px;
    text-decoration: none;
    margin: 12px 0px 8px 0px;
    padding: 0px;
    line-height: 54px;

    .publish {
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 24px;
      line-height: 24px;
      padding: 8px 2px;
    }

  }

  .comments {
    font-family: $font-stack1;
    color: $accent2;
    text-transform: uppercase;
  }

  .content {
    padding: 16px 0px 20px 0px;
  }

  .content p {
    font-family: $font-stack2;
    font-style: normal;
    font-weight: 200;
    list-style-type: none;
    letter-spacing: 0px;
    font-size: 18px;
    text-decoration: none;
    text-transform: none;
    margin: 0px;
    padding: 0px;
    line-height: 26px;
  }


}




hr {
  width: 100%;
  border-top: 1px dotted $primary;
  margin: 20px 0px;
}


.tag_row {
  display: inline-flex;
  flex-direction: row;
  gap: 6px;
  padding: 16px 0px 8px 0px;

  .tags {
    font-family: $font-stack1;
    background-color: $secondary;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 2px;
    letter-spacing: 2px;
    padding: 0px 8px;

  }
}


.below {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}



* {
  box-sizing: border-box;
}


.grid_container {
  font-family: $font-stack1;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}


.grid_info {
    -ms-flex: 10%; /* IE10 */
    flex: 10%;
    max-width: 10%;
    padding: 20px 20px;
    background-color: $accent2;
    border: 2px solid white;
    color: darkgreen;
    font-family: $font-stack2;
    font-weight: 500;
    line-height: 28px;
}

.grid_after {
    background-color: $accent2;
    -ms-flex: 10%; /* IE10 */
    flex: 10%;
    max-width: 100%;
    padding: 20px 20px;
    border: 2px solid white;
    color: darkgreen;
    font-family: $font-stack2;
    font-weight: 500;
    line-height: 28px;
}



@media screen and (max-width: 1500px) {
    .grid_info {
        -ms-flex: 20%; /* IE10 */
        flex: 20%;
        max-width: 20%;
        padding: 20px 20px;
    }
}


@media screen and (max-width: 800px) {
    .grid_info {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

.grid_info .grid_photo, 
.grid_info .grid_blank {
    margin-top: 8px;
    vertical-align: middle;
}



#overlay{
  position: fixed;
  top:0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  transition: all 0.01s ease-out;
}
#overlay.overlay-on{
  visibility: visible;
  opacity: 1;
}

.flex{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#overlay-inner{
  padding:10px 60px;
  background-color:#FFF;
  text-align:center;
}

/* #open-btn, #close-btn {
    display: block;
    padding: 8px 20px;
    line-height: 20px;
    position: sticky;
    background-color: #eee;
    border: solid #ccc 1px;
    cursor: pointer;
} */



h1 {
  font-family: $font-stack1;
  color: $accent1;
  text-transform: none;
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 88px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 60px;
  line-height: 100px;
  margin-inline-end: 20px;
}

h2 {
  font-family: $font-stack1;
  color: $accent1;
  text-transform: none;
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 48px;
  text-decoration: none;
  margin: 0px;
  padding: 20px 0px;
  line-height: 56px;
  margin-inline-end: 20px;
}

h3,
h3 p {
  font-family: $font-stack1;
  color: $accent1;
  text-transform: none;
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 32px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 4px;
  line-height: 44px;
  margin-inline-end: 20px;
  max-width: 1000px;
}


h4,
h4 p {
  font-family: $font-stack1;
  color: $primary;
  text-transform: none;
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 24px;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 4px;
  line-height: 32px;
  margin-inline-end: 20px;
  max-width: 1000px;
}




.group_container {
  font-family: $font-stack1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.group_list {
  font-family: $font-stack1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;



  .name {
    font-family: $font-stack1;
    font-size: 14px;
    text-decoration: none;
    color: $accent1;
    width: fit-content;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 24px;
    padding-bottom: 4px;
  }


  .description {
    font-family: $font-stack2;
    text-transform: none;
    overflow: hidden;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 8px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 60px;
  }

  .group_count {
    display: flex;
    gap: 12px;
    padding: 4px 6px 2px;
    font-family: $font-stack2;
    background-color: #00e874;
  }

  .leave_join,
  .leave_join a {
    font-family: $font-stack1;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 300;
    color: $primary;
    width: fit-content;
    text-transform: uppercase;
    padding: 0px 4px;
    background-color: #FFF;
    margin-bottom: 4px;
  }


}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 20px 20px;
  background-color: $accent2;
  border: 2px solid white;
  color: darkgreen;
  font-family: $font-stack2;
  font-weight: 500;
  line-height: 28px;
}

.card {
  @media screen and (min-width: 1500px) {
    -ms-flex: 20%;
    flex: 20%;
    max-width: 20%;
    padding: 20px 20px;
  }
  @media screen and (max-width: 1000px) {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  @media screen and (max-width: 600px) {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


section {
  padding-top: 100px;
}


.acct_content {
  max-width: 600px;
  margin: auto;
}


.not_visible {
  display: none;
}


.paginate {
  position: sticky;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-family: $font-stack1;
  text-decoration: none;
  text-underline: none;
  text-transform: uppercase;
  padding-bottom: 80px;
  padding-top: 80px;
  font-size: 16px;
  list-style: none;
  padding-inline-start: 0px;
}

.paginate li a {
  background-color: none;
  color: #222;
  font-weight: 100;
}

.paginate a {
  background-color: none;
  color: #222;
  font-weight: 100;
}

.paginate .active a {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px 16px;
  font-weight: 400;
}

.paginate .disabled a {
  background-color: none;
  color: #ccc;
  text-align: center;
  font-weight: 100;
  display: none;
}

.crop_detail {
  max-height: 600px;
  overflow: hidden;
}

.crop {
  max-height: 200px;
  overflow: hidden;
}

.photo_detail {
/*     max-width: 200px; */
  width: 100%;
}



