{% load my_filters %}
{% load humanize %}


{% if modal %}
<div class="post_modal" id="post_list">
{% else %}
<div {% if item|is_app:"groups" %} class="post2" {% else %} class="post3" {% endif %} id="post_list">
{% endif %}


    <!-- TITLE/MESSAGE -->
      <div class="post_message_group">

        <div class="button_group">
          <!-- TITLE/MESSAGE -->
          <div class="post_message">
            {% if post_url %}
            <a href="{{ item.group.get_absolute_url }}">
              <h3 id="message">{{ item.message | safe }}</h3>
            </a>
            {% else %}
              <h3 id="message">{{ item.message | safe }}</h3>
            {% endif %}
          </div>

        {% if user.is_authenticated %}
          <div class="feed_buttons">
            <!-- DELETE BUTTON -->
            {% if delete %}
              {% if user.is_superuser or item.user == user and not hide_delete %}
              <button onclick="document.location='{% url 'groups:commentdelete' pk=item.pk %}'" class="modal_button_xsmall">Remove</button>
              {% endif %}
            {% endif %}
            <!-- DETAILS BUTTON -->
            {% if details %}
              <button onclick="document.location='{{ item.group.get_absolute_url }}'" class="modal_button_xsmall">Details</button>
            {% endif %}
          </div>
        {% endif %}
        
        </div>

          <!-- USER/URL/TIMESTAMP -->        
          <span class="username">
            {% if user %}
              <a href="{% url 'profiles:for_user' username=item.user.username %}">
              {{ item.user.username }}
              </a>
            {% endif %}
              commented
            <!-- GROUP -->    
            {% if group %} in 
              <span class="group_name">
                <a href="{{ item.group.get_absolute_url }}">
                {{ item.group.name }}
                </a>
              </span>
            {% endif %}
            {{ item.created_at|naturaltime }}
          </span>
        </div>


  </div>