{% load my_filters %}
{% load humanize %}


{% if modal %}
<div class="post_modal" id="post_list">
{% else %}
<div {% if item|is_app:"groups" %} class="post2" {% else %} class="post3" {% endif %} id="post_list">
{% endif %}

    <div>
    <!-- TITLE/MESSAGE -->
      <div class="post_message_group">

        <div class="button_group">
          <div class="post_message">
            <a href="{{ item.group.get_absolute_url }}">
              <h3>{{ item.message | safe }}</h3>
            </a>
          </div>
          <!-- DELETE BUTTON -->
          {% if delete %}
            {% if user.is_superuser or post.user == user and not hide_delete %}
            <a href="{% url 'groups:commentdelete' pk=item.pk %}">
              <div class="modal_button_xsmall">remove</div>
            </a>
            {% endif %}
          {% endif %}
        </div>
          <!-- USER/URL/TIMESTAMP -->        
          <span class="username">
            {% if user %}
              <a href="{% url 'posts:for_user' username=item.user.username %}">
              @{{ item.user.username }}
              </a>
            {% endif %}
              commented in
            <!-- GROUP -->    
            {% if item.group %}
              <span class="group-name">
                <a href="{{ item.group.get_absolute_url }}">
                {{item.group.name}}
                </a>
              </span>
            {% endif %}
          </span>
        </div>

    </div>

  </div>