<!-- aaa/templates/includes/nav_desktop.html -->
{% if user.is_authenticated %}
<ul class="nav_bar">
	<div class="navbar_left">
		<li><a class="nav_link" href="{% url 'home' %}">AAA</a></li>

	</div>
	<div class="navbar_right">
		<li><a class="nav_link" href="{% url 'posts:all' %}">Posts</a></li>
		<li><a class="nav_link" hx-get="{% url 'posts:add' %}" hx-target="body" hx-swap="beforeend">Add_Post</a></li>
		<li><a class="nav_link" href="{% url 'groups:all' %}"">Groups</a></li>
		<li><a class="nav_link" hx-get="{% url 'groups:add' %}" hx-target="body" hx-swap="beforeend">Add_Group</a></li>

		<li><a class="nav_link" href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
		<li><a class="nav_link" href="{% url 'accounts:logout' %}">Logout</a></li>
	</div>
</ul>
{% else %}
<ul class="nav_bar">
	<div class="navbar_left">
		<li><a class="nav_link" href="{% url 'home' %}">AAA</a></li>
	</div>
	<div class="navbar_right">
		<li><a class="nav_link" href="{% url 'groups:all' %}">Groups</a></li>
		<li><a class="nav_link" href="{% url 'accounts:login' %}">Login</a></li>
		<li><a class="nav_link" href="{% url 'accounts:signup' %}">Sign_Up</a></li>	</div>
</ul>
{% endif %}
