<!-- aaa/templates/includes/nav_desktop.html -->

{% if user.is_authenticated %}
<ul id="nav_bar">
	<div id="navbar_left">
		<li><a class="nav_link" href="{% url 'home' %}"><img id="logo" src="/media/aaa.svg"></a></li>
	</div>

	{% if user.is_superuser %}
	<div id="navbar_right">
		<li><a class="nav_link" href="{% url 'shelf:shelf' %}">Shelf</a></li>
		<li><a class="nav_link" href="{% url 'blog:blog_main' %}">Entries</a></li>
		<li><a class="nav_link" href="{% url 'posts:all' %}">Posts</a></li>
		<li><a class="nav_link" href="{% url 'chirps:all' %}">Chirps</a></li>
		<li><a class="nav_link" href="{% url 'groups:all' %}">Groups</a></li>
		<li><a class="nav_link" href="{% url 'profiles:for_user' username=user.username %}">User</a></li>
		<li><a class="nav_link" href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
		<li>
			<form method="post" action="{% url 'logout' %}">{% csrf_token %}
    			<button id="logout" class="nav_link" type="submit">logout</button>
			</form>
		</li>
	</div>
	{% else %}
	<div id="navbar_right">
		<li><a class="nav_link" href="{% url 'shelf:shelf' %}">Shelf</a></li>
		<li><a class="nav_link" href="{% url 'blog:blog_main' %}">Entries</a></li>
		<li><a class="nav_link" href="{% url 'posts:all' %}">Posts</a></li>
		<li><a class="nav_link" href="{% url 'chirps:all' %}">Chirps</a></li>
		<li><a class="nav_link" href="{% url 'groups:all' %}">Groups</a></li>
		{% if user.profiles %}
		<li><a class="nav_link" href="{% url 'profiles:for_user' username=user.username %}">User</a></li>
		{% else %}
		<li><a class="nav_link" href="{% url 'for_user' username=user.username %}">User</a></li>
		{% endif %}
		<li>
			<form method="post" action="{% url 'logout' %}">{% csrf_token %}
    			<button id="logout" class="nav_link" type="submit">logout</button>
			</form>
		</li>
	</div>
	{% endif %}
</ul>
{% else %}
<ul id="nav_bar">
	<div id="navbar_left">
		<li><a class="nav_link" id="logo" href="{% url 'home' %}"><img id="logo" src="/media/aaa.svg"></a></li>
	</div>
	<div id="navbar_right">
		<li><a class="nav_link" href="{% url 'blog:blog_main' %}">Entries</a></li>
		<li><a class="nav_link" href="{% url 'groups:all' %}">Groups</a></li>
		<li><a class="nav_link" href="{% url 'accounts:login' %}">Login</a></li>
		<li><a class="nav_link" href="{% url 'accounts:signup' %}">Sign_Up</a></li>	
	</div>
</ul>
{% endif %}
