<!-- aaa/templates/nav_desktop.html -->
{% if user.is_authenticated %}
<ul class="nav_bar">
	<div class="navbar_left">
		<li><a class="nav_link" href="{% url 'home' %}">AAA</a></li>
		<li><a id="open-btn" class="overlay-event" type="button">Placeholder</a></li>
	</div>
	<div class="navbar_right">
		<li><a class="nav_link" href="{% url 'groups:all' %}"">Groups</a></li>
		<li><a class="nav_link" href="{% url 'posts:create' %}">Add_Post</a></li>
		<li><a class="nav_link" href="{% url 'groups:create' %}">Add_Group</a></li>
		<li><a class="nav_link" href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
		<li><a class="nav_link" href="{% url 'accounts:logout' %}">Logout</a></li>
	</div>
</ul>2
{% else %}
<ul class="nav_bar">
	<div class="navbar_left">
		<li><a class="nav_link" href="{% url 'home' %}">AAA</a></li>
		<li><a id="open-btn" class="overlay-event" type="button">Click</a></li>
	</div>
	<div class="navbar_right">
		<li><a class="nav_link" href="{% url 'groups:all' %}"">Groups</a></li>
		<li><a class="nav_link" href="{% url 'accounts:login' %}">Login</a></li>
		<li><a class="nav_link" href="{% url 'accounts:signup' %}">Sign_Up</a></li>	</div>
</ul>
{% endif %}
