<!-- aaa/templates/includes/overlay.html -->


{% load bootstrap5 %}

{% block group_content %}
<div id="overlay" class="overlay-event">
  <div class="flex">
    <div id="overlay-inner">

      <h1>Add Group</h1>
      <form method="POST" action="{% url 'groups:add' %}" id="overlay">
        {% csrf_token %}
        {{ form }}
      <input type="submit" value="Create" class="button">
      </form>
   

      <button id="close-btn" class="overlay-event" type=button>Cancel</button>
    </div>
  </div>
</div>
{% endblock %}