<!-- aaa/templates/includes/overlay.html -->


{% load bootstrap5 %}

<div id="overlay" class="overlay-event">
  <div class="flex">
    <div id="overlay-inner">
      <p>Overlay</p>



  {% block group_content %}
    <h1>Add Group</h1>
    <form method="POST" action="{% url 'groups:create' %}" id="groupForm">
      {% csrf_token %}
      {{ form }}
    <input type="submit" value="Create" class="btn btn-primary btn-large">
      </form>
  {% endblock %}

      <button id="close-btn" class="overlay-event" type=button>Close</button>
    </div>
  </div>
</div>
<button id="open-btn" class="overlay-event" "type="button">Click</button>